<ul>
  <style>
    ul {
      padding-left: 0;
    }
    li {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    a.pageNavigation {
      color: #b09189;
      display: block;
    }
  </style>

  <li>Einleitung</li>
  <li>Kunstgeschichte nach Reproduktionen</li>
  <li>
    <a href="s04-in.xml#s04-pg9" class="pageNavigation">9</a>
  </li>
  <li>
    <a href="s04-in.xml#s04-pg10" class="pageNavigation">10</a>
  </li>
  <li>Das kunsthistorische Selbstverständnis des jungen Wölfflin</li>
  <li>
    <a href="s04-in.xml#s04-pg11" class="pageNavigation">11</a>
  </li>
  <li>
    <a href="s04-in.xml#s04-pg12" class="pageNavigation">12</a>
  </li>
  <li>Anspruch und Wirklichkeit der Jugendwerke</li>
  <li>
    <a href="s04-in.xml#s04-pg13" class="pageNavigation">13</a>
  </li>
  <li>
    <a href="s04-in.xml#s04-pg14" class="pageNavigation">14</a>
  </li>
  <li>
    <a href="s04-in.xml#s04-pg15" class="pageNavigation">15</a>
  </li>
  <li>
    <a href="s04-in.xml#s04-pg16" class="pageNavigation">16</a>
  </li>
  <li>Zur analytischen Methode Wölfflins</li>
  <li>
    <a href="s04-in.xml#s04-pg17" class="pageNavigation">17</a>
  </li>
  <li>
    <a href="s04-in.xml#s04-pg18" class="pageNavigation">18</a>
  </li>
  <li>
    <a href="s04-in.xml#s04-pg19" class="pageNavigation">19</a>
  </li>
  <li>
    <a href="s04-in.xml#s04-pg20" class="pageNavigation">20</a>
  </li>
  <li>
    <a href="s04-in.xml#s04-pg21" class="pageNavigation">21</a>
  </li>
  <li>Die kontroverse Rezeption der Jugendwerke</li>
  <li>
    <a href="s04-in.xml#s04-pg22" class="pageNavigation">22</a>
  </li>
  <li>
    <a href="s04-in.xml#s04-pg23" class="pageNavigation">23</a>
  </li>
  <li>
    <a href="s04-in.xml#s04-pg24" class="pageNavigation">24</a>
  </li>
  <li>
    <a href="s04-in.xml#s04-pg25" class="pageNavigation">25</a>
  </li>
  <li>
    <a href="s04-in.xml#s04-pg26" class="pageNavigation">26</a>
  </li>
  <li>
    <a href="s04-in.xml#s04-pg27" class="pageNavigation">27</a>
  </li>
  <li>«Fühlung gewinnen mit dem Lauf der Tage»</li>
  <li>
    <a href="s04-in.xml#s04-pg28" class="pageNavigation">28</a>
  </li>
  <li>Anmerkungen</li>
  <li>
    <a href="s04-in.xml#s04-pg29" class="pageNavigation">29</a>
  </li>
  <li>
    <a href="s04-in.xml#s04-pg30" class="pageNavigation">30</a>
  </li>
  <li>
    <a href="s04-in.xml#s04-pg31" class="pageNavigation">31</a>
  </li>
  <li>
    <a href="s04-in.xml#s04-pg32" class="pageNavigation">32</a>
  </li>
  <li>
    <a href="s04-in.xml#s04-pg33" class="pageNavigation">33</a>
  </li>
  <li>
    <a href="s04-in.xml#s04-pg34" class="pageNavigation">34</a>
  </li>
  <li>
    <a href="s04-in.xml#s04-pg35" class="pageNavigation">35</a>
  </li>
  <li>
    <a href="s04-in.xml#s04-pg36" class="pageNavigation">36</a>
  </li>
  <li>
    <a href="s04-in.xml#s04-pg37" class="pageNavigation">37</a>
  </li>
  <!--
<li><a href="s04-in.xml#s04-pg38" class="pageNavigation">38</a></li>
-->
  <li>Text</li>
  <li>Heinrich Wölfflin: Die Jugendwerke des Michelangelo</li>
  <li>
    <a href="s04-ed.xml#s04-pg39" class="pageNavigation">39</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg40" class="pageNavigation">40</a>
  </li>
  <li>Vorrede</li>
  <li>
    <a href="s04-ed.xml#s04-pg41" class="pageNavigation">41</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg42" class="pageNavigation">42</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg43" class="pageNavigation">43</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg44" class="pageNavigation">44</a>
  </li>
  <li>Inhaltsverzeichniss</li>
  <li>
    <a href="s04-ed.xml#s04-pg45" class="pageNavigation">45</a>
  </li>
  <li>Verzeichniss der Abbildungen</li>
  <li>
    <a href="s04-ed.xml#s04-pg46" class="pageNavigation">46</a>
  </li>
  <li>Erster Abschnitt. Die ächten Werke</li>
  <li>
    <a href="s04-ed.xml#s04-pg47" class="pageNavigation">47</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg48" class="pageNavigation">48</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg49" class="pageNavigation">49</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg50" class="pageNavigation">50</a>
  </li>
  <li>I.</li>
  <li>
    <a href="s04-ed.xml#s04-pg51" class="pageNavigation">51</a>
  </li>
  <li>1. Die Madonna an der Treppe</li>
  <li>
    <a href="s04-ed.xml#s04-pg52" class="pageNavigation">52</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg53" class="pageNavigation">53</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg54" class="pageNavigation">54</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg55" class="pageNavigation">55</a>
  </li>
  <li>2. Der Centaurenkampf</li>
  <li>
    <a href="s04-ed.xml#s04-pg56" class="pageNavigation">56</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg57" class="pageNavigation">57</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg58" class="pageNavigation">58</a>
  </li>
  <li>3. Der leuchtertragende Engel</li>
  <li>
    <a href="s04-ed.xml#s04-pg59" class="pageNavigation">59</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg60" class="pageNavigation">60</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg61" class="pageNavigation">61</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg62" class="pageNavigation">62</a>
  </li>
  <li>4. Der heilige Petronius</li>
  <li>
    <a href="s04-ed.xml#s04-pg63" class="pageNavigation">63</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg64" class="pageNavigation">64</a>
  </li>
  <li>II.</li>
  <li>
    <a href="s04-ed.xml#s04-pg65" class="pageNavigation">65</a>
  </li>
  <li>1. Die Pietà</li>
  <li>
    <a href="s04-ed.xml#s04-pg66" class="pageNavigation">66</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg67" class="pageNavigation">67</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg68" class="pageNavigation">68</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg69" class="pageNavigation">69</a>
  </li>
  <li>2. Der Bacchus</li>
  <li>
    <a href="s04-ed.xml#s04-pg70" class="pageNavigation">70</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg71" class="pageNavigation">71</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg72" class="pageNavigation">72</a>
  </li>
  <li>3. Der Cupido</li>
  <li>
    <a href="s04-ed.xml#s04-pg73" class="pageNavigation">73</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg74" class="pageNavigation">74</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg75" class="pageNavigation">75</a>
  </li>
  <li>4. Der David</li>
  <li>
    <a href="s04-ed.xml#s04-pg76" class="pageNavigation">76</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg77" class="pageNavigation">77</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg78" class="pageNavigation">78</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg79" class="pageNavigation">79</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg80" class="pageNavigation">80</a>
  </li>
  <li>5. Die Madonna von Brügge</li>
  <li>
    <a href="s04-ed.xml#s04-pg81" class="pageNavigation">81</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg82" class="pageNavigation">82</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg83" class="pageNavigation">83</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg84" class="pageNavigation">84</a>
  </li>
  <li>III.</li>
  <li>
    <a href="s04-ed.xml#s04-pg85" class="pageNavigation">85</a>
  </li>
  <li>1. Die Madonna mit dem Buche</li>
  <li>
    <a href="s04-ed.xml#s04-pg86" class="pageNavigation">86</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg87" class="pageNavigation">87</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg88" class="pageNavigation">88</a>
  </li>
  <li>2. Die Madonna mit dem Vogel</li>
  <li>
    <a href="s04-ed.xml#s04-pg89" class="pageNavigation">89</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg90" class="pageNavigation">90</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg91" class="pageNavigation">91</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg92" class="pageNavigation">92</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg93" class="pageNavigation">93</a>
  </li>
  <li>3. Die heilige Familie</li>
  <li>
    <a href="s04-ed.xml#s04-pg94" class="pageNavigation">94</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg95" class="pageNavigation">95</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg96" class="pageNavigation">96</a>
  </li>
  <li>4. Der Matthäus</li>
  <li>
    <a href="s04-ed.xml#s04-pg97" class="pageNavigation">97</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg98" class="pageNavigation">98</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg99" class="pageNavigation">99</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg100" class="pageNavigation">100</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg101" class="pageNavigation">101</a>
  </li>
  <li>5. Die Zeichnungen</li>
  <li>
    <a href="s04-ed.xml#s04-pg102" class="pageNavigation">102</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg103" class="pageNavigation">103</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg104" class="pageNavigation">104</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg105" class="pageNavigation">105</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg106" class="pageNavigation">106</a>
  </li>
  <li>Zweiter Abschnitt. Unächte Werke</li>
  <li>
    <a href="s04-ed.xml#s04-pg107" class="pageNavigation">107</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg108" class="pageNavigation">108</a>
  </li>
  <li>1. Der Giovannino von Pisa</li>
  <li>
    <a href="s04-ed.xml#s04-pg109" class="pageNavigation">109</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg110" class="pageNavigation">110</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg111" class="pageNavigation">111</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg112" class="pageNavigation">112</a>
  </li>
  <li>2. Die Ergänzung des antiken Bacchustorso</li>
  <li>
    <a href="s04-ed.xml#s04-pg113" class="pageNavigation">113</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg114" class="pageNavigation">114</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg115" class="pageNavigation">115</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg116" class="pageNavigation">116</a>
  </li>
  <li>3. Die vier Figuren des Piccolomini-Grabmals</li>
  <li>
    <a href="s04-ed.xml#s04-pg117" class="pageNavigation">117</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg118" class="pageNavigation">118</a>
  </li>
  <li>4. Die Madonna von Manchester</li>
  <li>
    <a href="s04-ed.xml#s04-pg119" class="pageNavigation">119</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg120" class="pageNavigation">120</a>
  </li>
  <li>5. Die Grablegung</li>
  <li>
    <a href="s04-ed.xml#s04-pg121" class="pageNavigation">121</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg122" class="pageNavigation">122</a>
  </li>
  <li>6. Der sterbende Adonis</li>
  <li>
    <a href="s04-ed.xml#s04-pg123" class="pageNavigation">123</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg124" class="pageNavigation">124</a>
  </li>
  <li>7. Zeichnungen</li>
  <li>
    <a href="s04-ed.xml#s04-pg125" class="pageNavigation">125</a>
  </li>
  <li>
    <a href="s04-ed.xml#s04-pg126" class="pageNavigation">126</a>
  </li>

  <!--
<li>
        <a href="s04-ed.xml#s04-pg127" class="pageNavigation">127</a>
    </li>
<li>
        <a href="s04-ed.xml#s04-pg128" class="pageNavigation">128</a>
    </li>
-->
  <li>Apparat</li>
  <li>Editorische Notiz</li>
  <li>
    <a href="s04-app.xml#s04-pg129" class="pageNavigation">129</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg130" class="pageNavigation">130</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg131" class="pageNavigation">131</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg132" class="pageNavigation">132</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg133" class="pageNavigation">133</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg134" class="pageNavigation">134</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg135" class="pageNavigation">135</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg136" class="pageNavigation">136</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg137" class="pageNavigation">137</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg138" class="pageNavigation">138</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg139" class="pageNavigation">139</a>
  </li>
  <li>Kommentar</li>
  <li>
    <a href="s04-app.xml#s04-pg140" class="pageNavigation">140</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg141" class="pageNavigation">141</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg142" class="pageNavigation">142</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg143" class="pageNavigation">143</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg144" class="pageNavigation">144</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg145" class="pageNavigation">145</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg146" class="pageNavigation">146</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg147" class="pageNavigation">147</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg148" class="pageNavigation">148</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg149" class="pageNavigation">149</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg150" class="pageNavigation">150</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg151" class="pageNavigation">151</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg152" class="pageNavigation">152</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg153" class="pageNavigation">153</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg154" class="pageNavigation">154</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg155" class="pageNavigation">155</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg156" class="pageNavigation">156</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg157" class="pageNavigation">157</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg158" class="pageNavigation">158</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg159" class="pageNavigation">159</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg160" class="pageNavigation">160</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg161" class="pageNavigation">161</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg162" class="pageNavigation">162</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg163" class="pageNavigation">163</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg164" class="pageNavigation">164</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg165" class="pageNavigation">165</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg166" class="pageNavigation">166</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg167" class="pageNavigation">167</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg168" class="pageNavigation">168</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg169" class="pageNavigation">169</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg170" class="pageNavigation">170</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg171" class="pageNavigation">171</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg172" class="pageNavigation">172</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg173" class="pageNavigation">173</a>
  </li>
  <li>Dokumente</li>
  <li>
    <a href="s04-app.xml#s04-pg174" class="pageNavigation">174</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg175" class="pageNavigation">175</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg176" class="pageNavigation">176</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg177" class="pageNavigation">177</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg178" class="pageNavigation">178</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg179" class="pageNavigation">179</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg180" class="pageNavigation">180</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg181" class="pageNavigation">181</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg182" class="pageNavigation">182</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg183" class="pageNavigation">183</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg184" class="pageNavigation">184</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg185" class="pageNavigation">185</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg186" class="pageNavigation">186</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg187" class="pageNavigation">187</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg188" class="pageNavigation">188</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg189" class="pageNavigation">189</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg190" class="pageNavigation">190</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg191" class="pageNavigation">191</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg192" class="pageNavigation">192</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg193" class="pageNavigation">193</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg194" class="pageNavigation">194</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg195" class="pageNavigation">195</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg196" class="pageNavigation">196</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg197" class="pageNavigation">197</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg198" class="pageNavigation">198</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg199" class="pageNavigation">199</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg200" class="pageNavigation">200</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg201" class="pageNavigation">201</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg202" class="pageNavigation">202</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg203" class="pageNavigation">203</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg204" class="pageNavigation">204</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg205" class="pageNavigation">205</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg206" class="pageNavigation">206</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg207" class="pageNavigation">207</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg208" class="pageNavigation">208</a>
  </li>
  <li>Verzeichnis der von Wölfflin zitierten Literatur</li>
  <li>
    <a href="s04-app.xml#s04-pg209" class="pageNavigation">209</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg210" class="pageNavigation">210</a>
  </li>
  <li>Verzeichnis der von Wölfflin erwähnten Kunstwerke</li>
  <li>
    <a href="s04-app.xml#s04-pg211" class="pageNavigation">211</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg212" class="pageNavigation">212</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg213" class="pageNavigation">213</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg214" class="pageNavigation">214</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg215" class="pageNavigation">215</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg216" class="pageNavigation">216</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg217" class="pageNavigation">217</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg218" class="pageNavigation">218</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg219" class="pageNavigation">219</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg220" class="pageNavigation">220</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg221" class="pageNavigation">221</a>
  </li>
  <li>Literaturverzeichnis</li>
  <li>
    <a href="s04-app.xml#s04-pg222" class="pageNavigation">222</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg223" class="pageNavigation">223</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg224" class="pageNavigation">224</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg225" class="pageNavigation">225</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg226" class="pageNavigation">226</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg227" class="pageNavigation">227</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg228" class="pageNavigation">228</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg229" class="pageNavigation">229</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg230" class="pageNavigation">230</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg231" class="pageNavigation">231</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg232" class="pageNavigation">232</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg233" class="pageNavigation">233</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg234" class="pageNavigation">234</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg235" class="pageNavigation">235</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg236" class="pageNavigation">236</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg237" class="pageNavigation">237</a>
  </li>
  <li>Personenverzeichnis</li>
  <li>
    <a href="s04-app.xml#s04-pg238" class="pageNavigation">238</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg239" class="pageNavigation">239</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg240" class="pageNavigation">240</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg241" class="pageNavigation">241</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg242" class="pageNavigation">242</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg243" class="pageNavigation">243</a>
  </li>
  <li>
    <a href="s04-app.xml#s04-pg244" class="pageNavigation">244</a>
  </li>
</ul>
