<ul>
  <li>
    <a href="../s04/s04-ed.xml#s04-ed-ch-0-2" class="other-toc-indent"
      >Vorrede.</a
    >
  </li>
  <li>
    <a href="../s04/s04-ed.xml#s04-ed-ch-0-3" class="other-toc-indent"
      >Inhaltsverzeichniss.</a
    >
  </li>
  <li>
    <a href="../s04/s04-ed.xml#s04-ed-ch-0-4" class="other-toc-indent"
      >Verzeichniss der Abbildungen.</a
    >
  </li>
  <li>
    <pb-collapse>
      <span slot="collapse-trigger"
        ><a href="../s04/s04-ed.xml#s04-ed-ch-1" class="collapse-toc-indent"
          >Erster Abschnitt. Die ächten Werke.</a
        ></span
      >
      <span slot="collapse-content">
        <ul>
          <li>
            <pb-collapse>
              <span slot="collapse-trigger"
                ><a
                  href="../s04/s04-ed.xml#s04-ed-ch-1-1"
                  class="collapse-toc-indent"
                  >I.</a
                ></span
              >
              <span slot="collapse-content">
                <ul>
                  <li>
                    <a
                      href="../s04/s04-ed.xml#s04-ed-ch-1-1-1"
                      class="other-toc-indent"
                      >1. Die Madonna an der Treppe.</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s04/s04-ed.xml#s04-ed-ch-1-1-2"
                      class="other-toc-indent"
                      >2. Der Centaurenkampf.</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s04/s04-ed.xml#s04-ed-ch-1-1-3"
                      class="other-toc-indent"
                      >3. Der leuchtertragende Engel.</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s04/s04-ed.xml#s04-ed-ch-1-1-4"
                      class="other-toc-indent"
                      >4. Der heilige Petronius.</a
                    >
                  </li>
                </ul>
              </span>
            </pb-collapse>
          </li>
          <li>
            <pb-collapse>
              <span slot="collapse-trigger"
                ><a
                  href="../s04/s04-ed.xml#s04-ed-ch-1-2"
                  class="collapse-toc-indent"
                  >II.</a
                ></span
              >
              <span slot="collapse-content">
                <ul>
                  <li>
                    <a
                      href="../s04/s04-ed.xml#s04-ed-ch-1-2-1"
                      class="other-toc-indent"
                      >1. Die Pietà.</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s04/s04-ed.xml#s04-ed-ch-1-2-2"
                      class="other-toc-indent"
                      >2. Der Bacchus.</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s04/s04-ed.xml#s04-ed-ch-1-2-3"
                      class="other-toc-indent"
                      >3. Der Cupido.</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s04/s04-ed.xml#s04-ed-ch-1-2-4"
                      class="other-toc-indent"
                      >4. Der David.</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s04/s04-ed.xml#s04-ed-ch-1-2-5"
                      class="other-toc-indent"
                      >5. Die Madonna von Brügge.</a
                    >
                  </li>
                </ul>
              </span>
            </pb-collapse>
          </li>
          <li>
            <pb-collapse>
              <span slot="collapse-trigger"
                ><a
                  href="../s04/s04-ed.xml#s04-ed-ch-1-3"
                  class="collapse-toc-indent"
                >
                  III.</a
                ></span
              >
              <span slot="collapse-content">
                <ul>
                  <li>
                    <a
                      href="../s04/s04-ed.xml#s04-ed-ch-1-3-1"
                      class="other-toc-indent"
                      >1. Die Madonna mit dem Buche.</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s04/s04-ed.xml#s04-ed-ch-1-3-2"
                      class="other-toc-indent"
                      >2. Die Madonna mit dem Vogel.</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s04/s04-ed.xml#s04-ed-ch-1-3-3"
                      class="other-toc-indent"
                      >3. Die heilige Familie.</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s04/s04-ed.xml#s04-ed-ch-1-3-4"
                      class="other-toc-indent"
                      >4. Der Matthäus.</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s04/s04-ed.xml#s04-ed-ch-1-3-5"
                      class="other-toc-indent"
                      >5. Die Zeichnungen.</a
                    >
                  </li>
                </ul>
              </span>
            </pb-collapse>
          </li>
        </ul>
      </span>
    </pb-collapse>
  </li>
  <li>
    <pb-collapse>
      <span slot="collapse-trigger"
        ><a href="../s04/s04-ed.xml#s04-ed-ch-2" class="collapse-toc-indent"
          >Zweiter Abschnitt. Unächte Werke.</a
        ></span
      >
      <span slot="collapse-content">
        <ul>
          <li>
            <a href="../s04/s04-ed.xml#s04-ed-ch-2-0-1" class="other-toc-indent"
              >1. Der Giovannino von Pisa.</a
            >
          </li>
          <li>
            <a href="../s04/s04-ed.xml#s04-ed-ch-2-0-2" class="other-toc-indent"
              >2. Die Ergänzung des antiken Bacchustorso.</a
            >
          </li>
          <li>
            <a href="../s04/s04-ed.xml#s04-ed-ch-2-0-3" class="other-toc-indent"
              >3. Die vier Figuren des Piccolomini-Grabmals.</a
            >
          </li>
          <li>
            <a href="../s04/s04-ed.xml#s04-ed-ch-2-0-4" class="other-toc-indent"
              >4. Die Madonna von Manchester.</a
            >
          </li>
          <li>
            <a href="../s04/s04-ed.xml#s04-ed-ch-2-0-5" class="other-toc-indent"
              >5. Die Grablegung.</a
            >
          </li>
          <li>
            <a href="../s04/s04-ed.xml#s04-ed-ch-2-0-6" class="other-toc-indent"
              >6. Der sterbende Adonis.</a
            >
          </li>
          <li>
            <a href="../s04/s04-ed.xml#s04-ed-ch-2-0-7" class="other-toc-indent"
              >7. Zeichnungen.</a
            >
          </li>
        </ul>
      </span>
    </pb-collapse>
  </li>
</ul>
