<ul>
  <li>
    <a href="../s04/s04-in.xml#s04-in-ch-1-1" class="other-toc-indent"
      >Das kunsthistorische Selbstverständnis des jungen Wölfflin</a
    >
  </li>
  <li>
    <a href="../s04/s04-in.xml#s04-in-ch-1-2" class="other-toc-indent"
      >Anspruch und Wirklichkeit der Jugendwerke</a
    >
  </li>
  <li>
    <a href="../s04/s04-in.xml#s04-in-ch-1-3" class="other-toc-indent"
      >Zur analytischen Methode Wölfflins</a
    >
  </li>
  <li>
    <a href="../s04/s04-in.xml#s04-in-ch-1-4" class="other-toc-indent"
      >Die kontroverse Rezeption der Jugendwerke</a
    >
  </li>
  <li>
    <a href="../s04/s04-in.xml#s04-in-ch-1-5" class="other-toc-indent"
      >«Fühlung gewinnen mit dem Lauf der Tage»</a
    >
  </li>
  <li>
    <a href="../s04/s04-in.xml?node=2.5.4.2" class="other-toc-indent"
      >Anmerkungen</a
    >
  </li>
</ul>
