<ul>
  <li>
    <pb-collapse>
      <span slot="collapse-trigger">
        <a href="../s04/s04-app.xml#s04-app-ch-1" class="collapse-toc-indent"
          >Editorische Notiz</a
        >
      </span>
      <span slot="collapse-content">
        <ul>
          <li>
            <a href="../s04/s04-app.xml#s04-app-ch-1" class="other-toc-indent"
              >Beschreibung des Textträgers</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-app-ch-1-2" class="other-toc-indent"
              >Originaltext</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-app-ch-1-3" class="other-toc-indent"
              >Annotiertes Autorenexemplar</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-app-ch-1-4" class="other-toc-indent"
              >Transkriptionsregeln</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-app-ch-1-5" class="other-toc-indent"
              >Abbildungen</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-app-ch-1-6" class="other-toc-indent"
              >Kommentar</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-app-ch-1-7" class="other-toc-indent"
              >Apparate</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-app-ch-1-8" class="other-toc-indent"
              >Nachweis der emendierten bzw. korrigierten Stellen im
              Originaltext</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-app-ch-1-9" class="other-toc-indent"
              >Verwendete Abkürzungen</a
            >
          </li>
          <li>
            <a
              href="../s04/s04-app.xml#s04-app-ch-1-10"
              class="other-toc-indent"
              >Verwendete Signaturen</a
            >
          </li>
          <li>
            <a
              href="../s04/s04-app.xml#s04-app-ch-1-11"
              class="other-toc-indent"
              >Dank</a
            >
          </li>
          <li>
            <a
              href="../s04/s04-app.xml#s04-app-ch-1-12"
              class="other-toc-indent"
              >Anmerkungen</a
            >
          </li>
        </ul>
      </span>
    </pb-collapse>
  </li>
  <li>
    <a href="../s04/s04-app.xml#s04-app-ch-2" class="other-toc-indent"
      >Abbildungsnachweis</a
    >
  </li>
  <li>
    <a href="../s04/s04-app.xml#s04-app-ch-3" class="other-toc-indent"
      >Kommentar</a
    >
  </li>
  <li>
    <pb-collapse>
      <span slot="collapse-trigger">
        <a href="../s04/s04-app.xml#s04-app-ch-4" class="collapse-toc-indent"
          >Dokumente</a
        >
      </span>
      <span slot="collapse-content">
        <ul>
          <li>
            <a href="../s04/s04-app.xml#s04-doc-1" class="other-toc-indent"
              >Dok. 1 Heinrich Wölfflin an Emil Sulger, 20. Dezember 1889</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-doc-2" class="other-toc-indent"
              >Dok. 2 Heinrich Wölfflin an Emil Sulger, 3. Januar 1890</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-doc-3" class="other-toc-indent"
              >Dok. 3 Heinrich Wölfflin an Emil Sulger, 30. Januar 1890</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-doc-4" class="other-toc-indent"
              >Dok. 4 Heinrich Wölfflin an Jacob Burckhardt, 3. Juli 1890</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-doc-5" class="other-toc-indent"
              >Dok. 5 Herman Grimm an Heinrich Wölfflin, 4. Juli 1890</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-doc-6" class="other-toc-indent"
              >Dok. 6 Heinrich Wölfflin an Franz Studniczka, 7. Juli 1890</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-doc-7" class="other-toc-indent"
              >Dok. 7 Herman Grimm an Heinrich Wölfflin, 9. Juli 1890</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-doc-8" class="other-toc-indent"
              >Dok. 8 Hubert Janitschek an Heinrich Wölfflin, 15. November
              1890</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-doc-9" class="other-toc-indent"
              >Dok. 9 Heinrich Wölfflin an Wilhelm Bode, 17. November 1890</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-doc-10" class="other-toc-indent"
              >Dok. 10 Heinrich Wölfflin an Jacob Burckhardt, 17. November
              1890</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-doc-11" class="other-toc-indent"
              >Dok. 11 Heinrich Wölfflin an Herman Grimm, 17. November 1890</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-doc-12" class="other-toc-indent"
              >Dok. 12 Heinrich Wölfflin an Franz Wickhoff, 17. November 1890</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-doc-13" class="other-toc-indent"
              >Dok. 13 Herman Grimm an Heinrich Wölfflin, 18. November 1890</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-doc-14" class="other-toc-indent"
              >Dok. 14 Herman Grimm an Heinrich Wölfflin, 18. November 1890</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-doc-15" class="other-toc-indent"
              >Dok. 15 Heinrich Wölfflin an Carl Justi, 20. November 1890</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-doc-16" class="other-toc-indent"
              >Dok. 16 Heinrich Wölfflin an Franz Studniczka, 20. November
              1890</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-doc-17" class="other-toc-indent"
              >Dok. 17 Heinrich Wölfflin an Emil Sulger, 2. Dezember 1890</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-doc-18" class="other-toc-indent"
              >Dok. 18 Heinrich Wölfflin, Entwurf eines Briefes an Herman Grimm,
              12. Dezember 1890</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-doc-19" class="other-toc-indent"
              >Dok. 19 Autor unbekannt, Kurzrezension, 20. Dezember 1890</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-doc-20" class="other-toc-indent"
              >Dok. 20 Wilhelm Bode an Heinrich Wölfflin, 30. Dezember 1890</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-doc-21" class="other-toc-indent"
              >Dok. 21 Literarisches Zentralblatt für Deutschland, Ankündigung,
              1. Januar 1891</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-doc-22" class="other-toc-indent"
              >Dok. 22 Herman Grimm, Rezension, Januar–März 1891</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-doc-23" class="other-toc-indent"
              >Dok. 23 Heinrich Wölfflin an Wilhelm Bode, 2. Januar 1891</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-doc-24" class="other-toc-indent"
              >Dok. 24 Wilhelm Bode an Heinrich Wölfflin, 5. Januar 1891</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-doc-25" class="other-toc-indent"
              >Dok. 25 Henry Thode an Heinrich Wölfflin, 5. Januar 1891</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-doc-26" class="other-toc-indent"
              >Dok. 26 Moriz Carrière, Rezension, 7. Januar 1891</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-doc-27" class="other-toc-indent"
              >Dok. 27 Carl Justi an Heinrich Wölfflin, 25. Januar 1891</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-doc-28" class="other-toc-indent"
              >Dok. 28 Hugo von Tschudi, Rezension, 13. Juni 1891</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-doc-29" class="other-toc-indent"
              >Dok. 29 Anton Springer an Heinrich Wölfflin, 20. November 1891</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-doc-30" class="other-toc-indent"
              >Dok. 30 Hubert Janitschek, Rezension, 16. Januar 1892</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-doc-31" class="other-toc-indent"
              >Dok. 31 Carl von Lützow, Rezension, August 1892</a
            >
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-doc-32" class="other-toc-indent"
              >Dok. 32 Wilhelm Henke, Entwurf einer Antwort auf Wölfflins
              «Entgegnung», o.D.
            </a>
          </li>
          <li>
            <a href="../s04/s04-app.xml#s04-doc-33" class="other-toc-indent"
              >Dok. 33 Heinrich Wölfflin: Bemerkungen über die Entstehung der
              <em>Jugendwerke</em>, o.D.
            </a>
          </li>
          <li>
            <a
              href="../s04/s04-app.xml#s04-app-ch-4-34"
              class="other-toc-indent"
              >Anmerkungen</a
            >
          </li>
        </ul>
      </span>
    </pb-collapse>
  </li>
  <li>
    <a href="../s04/s04-app.xml#s04-app-ch-5" class="other-toc-indent"
      >Verzeichnis der von Wölfflin zitierten Literatur</a
    >
  </li>
  <li>
    <a href="../s04/s04-app.xml#s04-app-ch-6" class="other-toc-indent"
      >Verzeichnis der von Wölfflin erwähnten Kunstwerke</a
    >
  </li>
  <li>
    <a href="../s04/s04-app.xml#s04-app-ch-7" class="other-toc-indent"
      >Literaturverzeichnis</a
    >
  </li>
  <li>
    <a href="../s04/s04-app.xml#s04-app-ch-8" class="other-toc-indent"
      >Personenverzeichnis</a
    >
  </li>
</ul>
