<div class="header-title">
  <a
    href="${app}/s02/index.html"
    data-template="pages:parse-params"
    class="structure-link"
  >
    <span id="hw">Heinrich Wölfflin</span>
    <span id="gw">Gesammelte Werke</span>
    <br />
    <span id="volume-title" class="structure-link">
      <span class="werke"> <em>BETA:</em> Renaissance und Barock</span>
      <br />
      <span class="werke"
        >Eine Untersuchung über Wesen und Entstehung des Barockstils in
        Italien</span
      >
      <span class="werke">1888</span>
      <br />
      <span id="schriften">Schriften 2</span>
    </span>
  </a>
</div>
