<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"
    />

    <title>Heinrich Wölfflin: Renaissance und Barock</title>
    <meta name="description" content="Wölfflin - books" />
    <meta name="dc.identifier" content="10.48431/hwgw.s02" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="resources/images/favicon.ico"
    />
    <link rel="icon" type="image/png" href="resources/images/favicon.png" />

    <link rel="stylesheet" type="text/css" href="resources/fonts/font.css" />

    <link rel="stylesheet" href="resources/css/theme.css" />
    <link rel="stylesheet" href="resources/css/hw-variables.css" />
    <link rel="stylesheet" href="resources/css/hw-colour.css" />

    <link rel="stylesheet" href="resources/css/volume-core.css" />

    <link rel="stylesheet" href="resources/css/volume-header-colour.css" />
    <link rel="stylesheet" href="resources/css/volume-header-layout.css" />

    <link rel="stylesheet" href="resources/css/volume-footer.css" />

    <link rel="stylesheet" href="resources/css/volume-main-colour.css" />
    <link rel="stylesheet" href="resources/css/volume-main-layout.css" />
    <link rel="stylesheet" href="resources/css/volume-index.css" />

    <link rel="stylesheet" href="resources/css/hw-responsive.css" />

    <script src="resources/scripts/hwgw/hamburger.js" />

    <!-- webfont tied to Adobe-->
    <link rel="stylesheet" href="https://use.typekit.net/mkk8aec.css" />
    <!-- Google icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <script
      type="module"
      src="pb-components-bundle.js"
      data-template="pages:load-components"
    />
  </head>

  <body>
    <pb-page
      data-template="pages:pb-page"
      unresolved="unresolved"
      locales="resources/i18n/{{ns}}/{{lng}}.json"
    >
      <header>
        <div class="header">
          <a
            href="${app}/index.html"
            class="logo"
            data-template="pages:parse-params"
            aria-label="Startseite der Serie"
          />
          <div
            data-template="lib:include"
            data-template-path="templates/s02/header-title.html"
          />
          <div>
            <a class="skip-link" href="#main">Springe zum Inhalt</a>
            <a
              class="skip-link"
              href="${app}/s02/sitemap.html"
              data-template="pages:parse-params"
              >Band-Sitemap</a
            >
          </div>
        </div>

        <div class="toolbar">
          <nav role="navigation">
            <ul>
              <li class="dropdown toolbar-item">
                <a class="nav-head structure-link nav-head-button" href="#"
                  >Einleitung</a
                >
                <div class="dropdown-content">
                  <div class="toc">
                    <a href="../s02/s02-in.xml" class="toc-other-part-title"
                      >Stilwandel</a
                    >
                    <ul
                      data-template="lib:include"
                      data-template-path="templates/s02/toc-in.html"
                    />
                  </div>
                </div>
              </li>
              <li class="dropdown toolbar-item">
                <a class="nav-head structure-link nav-head-button" href="#"
                  >Text</a
                >
                <div class="dropdown-content">
                  <div class="toc">
                    <a href="../s02/s02-ed.xml" class="toc-other-part-title"
                      >Renaisance und Barock. Eine Untersuchung über Wesen und
                      Entstehung des Barockstils in Italien</a
                    >
                    <ul
                      data-template="lib:include"
                      data-template-path="templates/s02/toc-ed.html"
                    />
                  </div>
                </div>
              </li>
              <li class="dropdown toolbar-item">
                <a class="nav-head structure-link nav-head-button" href="#"
                  >Apparat</a
                >
                <div class="dropdown-content">
                  <div class="toc">
                    <a href="../s02/s02-app.xml" class="toc-other-part-title"
                      >Apparat</a
                    >
                    <ul
                      data-template="lib:include"
                      data-template-path="templates/s02/toc-app.html"
                    />
                  </div>
                </div>
              </li>
              <li class="dropdown toolbar-item">
                <a class="nav-head structure-link nav-head-button" href="#"
                  >Index</a
                >
                <div class="dropdown-content">
                  <ul aria-label="submenu" class="toc">
                    <li>
                      <a
                        href="${app}/search.html?query=&amp;facet-type=Bibliografie&amp;facet-volume=s02"
                        data-template="pages:parse-params"
                        >Bibliografie</a
                      >
                    </li>
                    <li>
                      <a
                        href="${app}/search.html?query=&amp;facet-type=Objekte&amp;facet-volume=s02"
                        data-template="pages:parse-params"
                        >Objekte</a
                      >
                    </li>
                    <li>
                      <a
                        href="${app}/search.html?query=&amp;facet-type=Organisationen&amp;facet-volume=s02"
                        data-template="pages:parse-params"
                        >Organisationen</a
                      >
                    </li>
                    <li>
                      <a
                        href="${app}/search.html?query=&amp;facet-type=Orte&amp;facet-volume=s02"
                        data-template="pages:parse-params"
                        >Orte</a
                      >
                    </li>
                    <li>
                      <a
                        href="${app}/search.html?query=&amp;facet-type=Personen&amp;facet-volume=s02"
                        data-template="pages:parse-params"
                        >Personen</a
                      >
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </nav>

          <div class="burger-dropdown">
            <div class="hamburger">
              <i class="material-icons" id="material-icons">menu</i>
            </div>
            <div class="burger-dropdown-content">
              <ul>
                <li>
                  <a
                    href="${app}/s02/s02-in.xml"
                    data-template="pages:parse-params"
                    >Einleitung<span class="arrow-link-white" />
                  </a>
                </li>
                <li>
                  <a
                    href="${app}/s02/s02-ed.xml"
                    data-template="pages:parse-params"
                    >Text<span class="arrow-link-white" />
                  </a>
                </li>
                <li>
                  <a
                    href="${app}/s02/s02-app.xml"
                    data-template="pages:parse-params"
                    >Apparat<span class="arrow-link-white" />
                  </a>
                </li>
                <li>
                  <a
                    href="${app}/search.html?query=&amp;facet-environment=Index&amp;facet-volume=s02"
                    data-template="pages:parse-params"
                    >Index<span class="arrow-link-white" />
                  </a>
                </li>
                <li>
                  <a
                    href="${app}/search.html?query=&amp;facet-environment=Text&amp;facet-volume=s02"
                    data-template="pages:parse-params"
                    >Suche<span class="arrow-link-white" />
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <menu>
            <ul>
              <li class="dropdown toolbar-item">
                <div style="display: flex">
                  <a
                    href="#"
                    class="menu-head structure-link menu-head-button"
                    style="flex: 1"
                    >Seiten</a
                  >
                  <a
                    href="${app}/s02/s02-in.xml"
                    id="nextPart"
                    class="btn-pages"
                    data-template="pages:parse-params"
                  >
                    <i class="material-icons">chevron_right</i>
                  </a>
                </div>
                <div class="dropdown-content">
                  <div id="page-list">
                    <ul
                      data-template="lib:include"
                      data-template-path="templates/s02/pages.html"
                    />
                  </div>
                </div>
              </li>
              <!--
              <li class="toolbar-item">
                <div class="menu-head menu-head-button zoom-wrapper" style="display: flex">
                  <pb-zoom class="btn-zoom" emit="transcription" direction="out" icon="icons:remove" aria-label="Decrease font size"/>
                  <span style="margin-inline: 8px">Zoom</span>
                  <pb-zoom class="btn-zoom" emit="transcription" direction="in" icon="icons:add" aria-label="Increase font size"/>
                </div>
              </li>-->
              <li class="toolbar-item">
                <div style="display: flex; justify-content: center">
                  <a
                    href="${app}/search.html?query=&amp;facet-environment=Text&amp;facet-volume=s02"
                    class="menu-head structure-link menu-head-button"
                    data-template="pages:parse-params"
                    >Suche</a
                  >
                  <i
                    class="material-icons"
                    style="transform: rotate(90deg); font-size: 20px !important"
                    >search</i
                  >
                </div>
              </li>
            </ul>
          </menu>
        </div>
      </header>

      <main class="content-body volume-overview-main" id="main">
        <article>
          <div style="height: 1px; overflow: hidden">
            <h1>Prolegomena zu einer Psychologie der Architektur 1886</h1>
          </div>
          <h2 id="klappentext-dig-h">Digitale Ausgabe</h2>
          <div class="volume-description-container">
            <div class="volume-cover">
              <div class="volume-cover-logo" />
            </div>
            <div id="klappentext-dig">
              <ul>
                <li>
                  <a class="hw-internal-link" href="s02-in.xml"
                    >Einleitung <br />Oskar Bätschmann: Stilwandel</a
                  >
                </li>
                <li>
                  <a class="hw-internal-link" href="s02-ed.xml"
                    >Text <br />Heinrich Wölfflin: Renaissance und Barock. Eine
                    Untersuchung über Wesen und Entstehung des Barockstils in
                    Italien</a
                  >
                </li>
                <li>
                  <a class="hw-internal-link" href="s02-app.xml">Apparat</a>
                </li>
              </ul>
            </div>
          </div>
          <h2 id="klappentext-ed-h">Gedruckte Ausgabe, 2023</h2>
          <div class="volume-description-container">
            <div class="volume-cover">
              <img
                src="${app}/resources/images/schwabe/s02-cover.png"
                data-template="pages:parse-params"
                alt=""
              />
            </div>
            <div id="klappentext-ed">
              <p>
                Unter den zahlreichen Versuchen der Definition eines Barockstils
                hat Wölfflins Schrift durch die Qualität ihrer Methode ihren
                hohen Rang behalten. Diese zeichnet sich aus durch beschreibende
                Analyse und vergleichende Entgegensetzung der Stile von
                Renaissance und Barock, durch den Versuch, die Gründe für den
                Stilwandel zu erklären, und schliesslich durch die Verifizierung
                der Analyse an ausgewählten sakralen und profanen Gebäuden in
                Rom. Mit dem differenzierenden Vergleich zwischen Renaissance
                und Barock schuf sich Wölfflin die Grundlage für eine Kritik des
                Barock, die weit über der früheren Geringschätzung steht.
              </p>
            </div>
          </div>

          <h2 id="klappentext-or-h">Renaissance und Barock, 1888</h2>
          <div class="volume-description-container">
            <div class="volume-cover">
              <img
                src="${app}/resources/images/original/s02-cover.jpg"
                data-template="pages:parse-params"
                alt=""
              />
            </div>
            <div id="klappentext-or">
              <p>
                Mit seiner Habilitationsschrift
                <cite
                  >Renaissance und Barock. Eine Untersuchung über Wesen und
                  Entstehung des Barockstils in Italien</cite
                >
                (1888) griff Heinrich Wölfflin die Umwertung des Barockstils
                auf. Eine Reihe von Kunsthistorikern machte sich während der
                Mode des Neobarock daran, den Architekturstil des 16. und 17.
                Jahrhunderts neu zu erforschen und zu werten, und versuchte auch
                in der Antike einen «Barockstil» zu definieren. Diese drei
                Wiederholungen sollten erlauben, eine Gesetzmässigkeit im
                geschichtlichen Verlauf zu erkennen. Einen solchen Einblick ins
                «Innere der Kunst» erklärte Wölfflin zum eigentlichen Ziel der
                Kunstgeschichte.
              </p>
            </div>
          </div>

          <h2 id="klappentext-pr-h">Metadaten</h2>
          <div id="klappentext-pr">
            <table>
              <tr>
                <th>Einleitung:</th>
                <td>
                  Oskar Bätschmann (<a
                    class="hw-external-link"
                    href="https://d-nb.info/gnd/115445277"
                    >GND</a
                  >)
                </td>
              </tr>
              <tr>
                <th>Kommentar und Bearbeitung:</th>
                <td>
                  Noemi Bearth und Karolina Zgraja (<a
                    class="hw-external-link"
                    href="https://orcid.org/0000-0002-2974-5589"
                    >ORCID</a
                  >) unter Mitarbeit von Leonora Kugler und Wanda Kupferschmid
                  Neagoe
                </td>
              </tr>
              <tr>
                <th>Annotation:</th>
                <td>
                  Sven Meier (<a
                    class="hw-external-link"
                    href="https://orcid.org/0009-0000-0292-9989"
                    >ORCID</a
                  >) und Janaina Isaura Rüegg
                </td>
              </tr>
              <tr>
                <th>DOI:</th>
                <td>
                  <a
                    class="hw-external-link"
                    href="https://doi.org/10.48431/hwgw.s02"
                    >10.48431/hwgw.s02</a
                  >
                </td>
              </tr>
              <tr>
                <th>Publisher:</th>
                <td>
                  Bibliotheca Hertziana - Max-Planck-Institut für
                  Kunstgeschichte
                </td>
              </tr>
              <tr>
                <th>Originalausgabe (1888):</th>
                <td>
                  Heinrich Wölfflin: Renaissance und Barock. Eine Untersuchung
                  über Wesen und Entstehung des Barockstils in Italien. München:
                  Theodor Ackermann, 1888.
                </td>
              </tr>
              <tr>
                <th>Printedition (2023):</th>
                <td>
                  Heinrich Wölfflin. Renaissance und Barock. Eine Untersuchung
                  über Wesen und Entstehung des Barockstils in Italien (1888).
                  Einleitung von Oskar Bätschmann. Bearbeitung und Kommentar von
                  Noemi Bearth und Karolina Zgraja. Hg. von Tristan Weddigen,
                  Oskar Bätschmann und Joris van Gastel. Heinrich Wölfflin
                  Gesammelte Werke. Schriften 2. Basel: Schwabe, 2023. ISBN
                  978-3-7965-3835-3
                </td>
              </tr>
              <tr>
                <th>Digitialisat des Originalexemplars:</th>
                <td>
                  Getty Research Institute, Los Angeles, Library, Wölfflin
                  Collection, 93-B16694 (<a
                    class="hw-external-link"
                    href="https://n2t.net/ark:/13960/t70w3581z"
                    >ARK</a
                  >)
                </td>
              </tr>
            </table>
          </div>
        </article>
      </main>
      <footer
        data-template="lib:include"
        data-template-path="templates/volume-footer.html"
      />
    </pb-page>

    <div class="splash" />
  </body>
</html>
