<div class="header-title">
  <a
    href="${app}/s01/index.html"
    data-template="pages:parse-params"
    class="structure-link"
  >
    <span id="hw">Heinrich Wölfflin</span>
    <span id="gw">Gesammelte Werke</span>
    <br />
    <span id="volume-title" class="structure-link">
      <span class="werke"
        ><em>BETA:</em> Prolegomena zu einer Psychologie der Architektur</span
      >
      <span class="werke">1886</span>
      <br />
      <span id="schriften">Schriften 1</span>
    </span>
  </a>
</div>
