<ul>
  <style>
    ul {
      padding-left: 0;
    }
    li {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    a.pageNavigation {
      color: #b09189;
      display: block;
    }
  </style>

  <li>Einleitung</li>
  <li>
    Verkörperung. Einführung in Heinrich Wölfflins <cite>Prolegomena</cite>
  </li>
  <li>Zwischen den Linien</li>
  <li>
    <a href="s01-in.xml#s01-pg9" class="pageNavigation">9</a>
  </li>
  <li>
    <a href="s01-in.xml#s01-pg10" class="pageNavigation">10</a>
  </li>
  <li>
    <a href="s01-in.xml#s01-pg11" class="pageNavigation">11</a>
  </li>
  <li>Das Terrain der Argumente</li>
  <li>
    <a href="s01-in.xml#s01-pg12" class="pageNavigation">12</a>
  </li>
  <li>
    <a href="s01-in.xml#s01-pg13" class="pageNavigation">13</a>
  </li>
  <li>Fernwirkungen Immanuel Kants</li>
  <li>
    <a href="s01-in.xml#s01-pg14" class="pageNavigation">14</a>
  </li>
  <li>
    <a href="s01-in.xml#s01-pg15" class="pageNavigation">15</a>
  </li>
  <li>
    <a href="s01-in.xml#s01-pg16" class="pageNavigation">16</a>
  </li>
  <li>
    <a href="s01-in.xml#s01-pg17" class="pageNavigation">17</a>
  </li>
  <li>«Das stolze Glück einer Säule»</li>
  <li>
    <a href="s01-in.xml#s01-pg18" class="pageNavigation">18</a>
  </li>
  <li>
    <a href="s01-in.xml#s01-pg19" class="pageNavigation">19</a>
  </li>
  <li>
    <a href="s01-in.xml#s01-pg20" class="pageNavigation">20</a>
  </li>
  <li>
    <a href="s01-in.xml#s01-pg21" class="pageNavigation">21</a>
  </li>
  <li>
    <a href="s01-in.xml#s01-pg22" class="pageNavigation">22</a>
  </li>
  <li>Symbol und Verkörperung</li>
  <li>
    <a href="s01-in.xml#s01-pg23" class="pageNavigation">23</a>
  </li>
  <li>
    <a href="s01-in.xml#s01-pg24" class="pageNavigation">24</a>
  </li>
  <li>
    <a href="s01-in.xml#s01-pg25" class="pageNavigation">25</a>
  </li>
  <li>
    <a href="s01-in.xml#s01-pg26" class="pageNavigation">26</a>
  </li>
  <li>Anmerkungen</li>
  <li>
    <a href="s01-in.xml#s01-pg27" class="pageNavigation">27</a>
  </li>
  <li>
    <a href="s01-in.xml#s01-pg28" class="pageNavigation">28</a>
  </li>
  <li>
    <a href="s01-in.xml#s01-pg29" class="pageNavigation">29</a>
  </li>
  <li>
    <a href="s01-in.xml#s01-pg30" class="pageNavigation">30</a>
  </li>
  <li>
    <a href="s01-in.xml#s01-pg31" class="pageNavigation">31</a>
  </li>

  <li>Text</li>
  <li>Heinrich Wölfflin: Prolegomena zu einer Psychologie der Architektur</li>
  <li>
    «Künstliche Natürlichkeit» und «edle Einfalt»: Stilisierung der Natur und
    Nachahmung der Antike
  </li>
  <li>
    <a href="s01-ed.xml#s01-pg33" class="pageNavigation">33</a>
  </li>
  <li>
    <a href="s01-ed.xml#s01-pg34" class="pageNavigation">34</a>
  </li>
  <li>Inhalts-Verzeichniss.</li>
  <li>
    <a href="s01-ed.xml#s01-pg35" class="pageNavigation">35</a>
  </li>
  <li>
    <a href="s01-ed.xml#s01-pg36" class="pageNavigation">36</a>
  </li>
  <li>Vorrede.</li>
  <li>
    <a href="s01-ed.xml#s01-pg37" class="pageNavigation">37</a>
  </li>
  <li>I. Psychologische Grundlage.</li>
  <li>
    <a href="s01-ed.xml#s01-pg38" class="pageNavigation">38</a>
  </li>
  <li>
    <a href="s01-ed.xml#s01-pg39" class="pageNavigation">39</a>
  </li>
  <li>
    <a href="s01-ed.xml#s01-pg40" class="pageNavigation">40</a>
  </li>
  <li>
    <a href="s01-ed.xml#s01-pg41" class="pageNavigation">41</a>
  </li>
  <li>
    <a href="s01-ed.xml#s01-pg42" class="pageNavigation">42</a>
  </li>
  <li>
    <a href="s01-ed.xml#s01-pg43" class="pageNavigation">43</a>
  </li>
  <li>
    <a href="s01-ed.xml#s01-pg44" class="pageNavigation">44</a>
  </li>
  <li>
    <a href="s01-ed.xml#s01-pg45" class="pageNavigation">45</a>
  </li>
  <li>
    <a href="s01-ed.xml#s01-pg46" class="pageNavigation">46</a>
  </li>
  <li>
    <a href="s01-ed.xml#s01-pg47" class="pageNavigation">47</a>
  </li>
  <li>II. Der Gegenstand der Architektur.</li>
  <li>
    <a href="s01-ed.xml#s01-pg48" class="pageNavigation">48</a>
  </li>
  <li>
    <a href="s01-ed.xml#s01-pg49" class="pageNavigation">49</a>
  </li>
  <li>
    <a href="s01-ed.xml#s01-pg50" class="pageNavigation">50</a>
  </li>
  <li>III. Die Form und ihre Momente.</li>
  <li>
    <a href="s01-ed.xml#s01-pg51" class="pageNavigation">51</a>
  </li>
  <li>
    <a href="s01-ed.xml#s01-pg52" class="pageNavigation">52</a>
  </li>
  <li>
    <a href="s01-ed.xml#s01-pg53" class="pageNavigation">53</a>
  </li>
  <li>
    <a href="s01-ed.xml#s01-pg54" class="pageNavigation">54</a>
  </li>
  <li>
    <a href="s01-ed.xml#s01-pg55" class="pageNavigation">55</a>
  </li>
  <li>IV. Charakteristik der Proportionen.</li>
  <li>
    <a href="s01-ed.xml#s01-pg56" class="pageNavigation">56</a>
  </li>
  <li>
    <a href="s01-ed.xml#s01-pg57" class="pageNavigation">57</a>
  </li>
  <li>
    <a href="s01-ed.xml#s01-pg58" class="pageNavigation">58</a>
  </li>
  <li>
    <a href="s01-ed.xml#s01-pg59" class="pageNavigation">59</a>
  </li>
  <li>
    <a href="s01-ed.xml#s01-pg60" class="pageNavigation">60</a>
  </li>
  <li>V. Charakteristik der horizontalen Gliederung.</li>
  <li>
    <a href="s01-ed.xml#s01-pg61" class="pageNavigation">61</a>
  </li>
  <li>
    <a href="s01-ed.xml#s01-pg62" class="pageNavigation">62</a>
  </li>
  <li>
    <a href="s01-ed.xml#s01-pg63" class="pageNavigation">63</a>
  </li>
  <li>
    <a href="s01-ed.xml#s01-pg64" class="pageNavigation">64</a>
  </li>
  <li>VI. Charakteristik der vertikalen Gliederung.</li>
  <li>
    <a href="s01-ed.xml#s01-pg65" class="pageNavigation">65</a>
  </li>
  <li>
    <a href="s01-ed.xml#s01-pg66" class="pageNavigation">66</a>
  </li>
  <li>
    <a href="s01-ed.xml#s01-pg67" class="pageNavigation">67</a>
  </li>
  <li>VII. Das Ornament.</li>
  <li>
    <a href="s01-ed.xml#s01-pg68" class="pageNavigation">68</a>
  </li>
  <li>
    <a href="s01-ed.xml#s01-pg69" class="pageNavigation">69</a>
  </li>
  <li>
    <a href="s01-ed.xml#s01-pg70" class="pageNavigation">70</a>
  </li>
  <li>
    <a href="s01-ed.xml#s01-pg71" class="pageNavigation">71</a>
  </li>
  <li>VIII. Prinzipien der historischen Beurteilung.</li>
  <li>
    <a href="s01-ed.xml#s01-pg72" class="pageNavigation">72</a>
  </li>
  <li>
    <a href="s01-ed.xml#s01-pg73" class="pageNavigation">73</a>
  </li>
  <li>
    <a href="s01-ed.xml#s01-pg74" class="pageNavigation">74</a>
  </li>

  <li>Apparat</li>
  <li>Editorische Notiz</li>

  <li>
    <a href="s01-app.xml#s01-pg77" class="pageNavigation">77</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg78" class="pageNavigation">78</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg79" class="pageNavigation">79</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg80" class="pageNavigation">80</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg81" class="pageNavigation">81</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg82" class="pageNavigation">82</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg83" class="pageNavigation">83</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg84" class="pageNavigation">84</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg85" class="pageNavigation">85</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg86" class="pageNavigation">86</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg87" class="pageNavigation">87</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg88" class="pageNavigation">88</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg89" class="pageNavigation">89</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg90" class="pageNavigation">90</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg91" class="pageNavigation">91</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg92" class="pageNavigation">92</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg93" class="pageNavigation">93</a>
  </li>
  <li>Kommentar</li>
  <li>
    <a href="s01-app.xml#s01-pg94" class="pageNavigation">94</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg95" class="pageNavigation">95</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg96" class="pageNavigation">96</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg97" class="pageNavigation">97</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg98" class="pageNavigation">98</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg99" class="pageNavigation">99</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg100" class="pageNavigation">100</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg101" class="pageNavigation">101</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg102" class="pageNavigation">102</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg101" class="pageNavigation">101</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg101" class="pageNavigation">101</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg105" class="pageNavigation">105</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg106" class="pageNavigation">106</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg107" class="pageNavigation">107</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg108" class="pageNavigation">108</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg109" class="pageNavigation">109</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg110" class="pageNavigation">110</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg111" class="pageNavigation">111</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg112" class="pageNavigation">112</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg113" class="pageNavigation">113</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg114" class="pageNavigation">114</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg115" class="pageNavigation">115</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg116" class="pageNavigation">116</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg117" class="pageNavigation">117</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg118" class="pageNavigation">118</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg119" class="pageNavigation">119</a>
  </li>
  <li>Dokumente</li>
  <li>
    <a href="s01-app.xml#s01-pg120" class="pageNavigation">120</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg121" class="pageNavigation">121</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg122" class="pageNavigation">122</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg123" class="pageNavigation">123</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg124" class="pageNavigation">124</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg125" class="pageNavigation">125</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg126" class="pageNavigation">126</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg127" class="pageNavigation">127</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg128" class="pageNavigation">128</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg129" class="pageNavigation">129</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg130" class="pageNavigation">130</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg131" class="pageNavigation">131</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg132" class="pageNavigation">132</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg133" class="pageNavigation">133</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg134" class="pageNavigation">134</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg135" class="pageNavigation">135</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg136" class="pageNavigation">136</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg137" class="pageNavigation">137</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg138" class="pageNavigation">138</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg139" class="pageNavigation">139</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg140" class="pageNavigation">140</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg141" class="pageNavigation">141</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg142" class="pageNavigation">142</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg143" class="pageNavigation">143</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg144" class="pageNavigation">144</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg145" class="pageNavigation">145</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg146" class="pageNavigation">146</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg147" class="pageNavigation">147</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg148" class="pageNavigation">148</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg149" class="pageNavigation">149</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg150" class="pageNavigation">150</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg151" class="pageNavigation">151</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg152" class="pageNavigation">152</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg153" class="pageNavigation">153</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg154" class="pageNavigation">154</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg155" class="pageNavigation">155</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg156" class="pageNavigation">156</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg157" class="pageNavigation">157</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg158" class="pageNavigation">158</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg159" class="pageNavigation">159</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg160" class="pageNavigation">160</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg161" class="pageNavigation">161</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg162" class="pageNavigation">162</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg163" class="pageNavigation">163</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg164" class="pageNavigation">164</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg165" class="pageNavigation">165</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg166" class="pageNavigation">166</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg167" class="pageNavigation">167</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg168" class="pageNavigation">168</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg169" class="pageNavigation">169</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg170" class="pageNavigation">170</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg171" class="pageNavigation">171</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg172" class="pageNavigation">172</a>
  </li>
  <li>Verzeichnis der von Wölfflin zitierten Literatur</li>
  <li>
    <a href="s01-app.xml#s01-pg173" class="pageNavigation">173</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg174" class="pageNavigation">174</a>
  </li>
  <li>Verzeichnis der von Wölfflin erwähnten Kunstwerke</li>
  <li>
    <a href="s01-app.xml#s01-pg175" class="pageNavigation">175</a>
  </li>
  <li>Literaturverzeichnis</li>
  <li>
    <a href="s01-app.xml#s01-pg176" class="pageNavigation">176</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg177" class="pageNavigation">177</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg178" class="pageNavigation">178</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg179" class="pageNavigation">179</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg180" class="pageNavigation">180</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg181" class="pageNavigation">181</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg182" class="pageNavigation">182</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg183" class="pageNavigation">183</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg184" class="pageNavigation">184</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg185" class="pageNavigation">185</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg186" class="pageNavigation">186</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg187" class="pageNavigation">187</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg188" class="pageNavigation">188</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg189" class="pageNavigation">189</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg190" class="pageNavigation">190</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg191" class="pageNavigation">191</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg192" class="pageNavigation">192</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg193" class="pageNavigation">193</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg194" class="pageNavigation">194</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg195" class="pageNavigation">195</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg196" class="pageNavigation">196</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg197" class="pageNavigation">197</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg198" class="pageNavigation">198</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg199" class="pageNavigation">199</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg200" class="pageNavigation">200</a>
  </li>
  <li>Personenverzeichnis</li>
  <li>
    <a href="s01-app.xml#s01-pg201" class="pageNavigation">201</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg202" class="pageNavigation">202</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg201" class="pageNavigation">201</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg201" class="pageNavigation">201</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg205" class="pageNavigation">205</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg206" class="pageNavigation">206</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg207" class="pageNavigation">207</a>
  </li>
  <li>
    <a href="s01-app.xml#s01-pg208" class="pageNavigation">208</a>
  </li>
</ul>
