<ul>
  <li>
    <pb-collapse>
      <span slot="collapse-trigger">
        <a href="../s01/s01-app.xml#s01-app-ch-1" class="collapse-toc-indent"
          >Editorische Notiz</a
        >
      </span>
      <span slot="collapse-content">
        <ul>
          <li>
            <a href="../s01/s01-app.xml#s01-app-ch-1" class="other-toc-indent"
              >Beschreibung des Textträgers</a
            >
          </li>
          <li>
            <a href="../s01/s01-app.xml#s01-app-ch-1-2" class="other-toc-indent"
              >Ausgaben und Übersetzungen</a
            >
          </li>
          <li>
            <pb-collapse>
              <span slot="collapse-trigger">
                <a
                  href="../s01/s01-app.xml#s01-app-ch-1-3"
                  class="collapse-toc-indent"
                  >Originaltext</a
                >
              </span>
              <span slot="collapse-content">
                <ul>
                  <li>
                    <a
                      href="../s01/s01-app.xml#s01-app-ch-1-3"
                      class="other-toc-indent"
                      >Textgrundlage und Textkonstitution</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s01/s01-app.xml#s01-app-ch-1-3-2"
                      class="other-toc-indent"
                      >Orthografie und Interpunktion</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s01/s01-app.xml#s01-app-ch-1-3-3"
                      class="other-toc-indent"
                      >Paginierung</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s01/s01-app.xml#s01-app-ch-1-3-4"
                      class="other-toc-indent"
                      >Sperrsatz</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s01/s01-app.xml#s01-app-ch-1-3-5"
                      class="other-toc-indent"
                      >Anmerkungen</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s01/s01-app.xml#s01-app-ch-1-3-6"
                      class="other-toc-indent"
                      >Zitate</a
                    >
                  </li>
                </ul>
              </span>
            </pb-collapse>
          </li>
          <li>
            <a href="../s01/s01-app.xml#s01-app-ch-1-4" class="other-toc-indent"
              >Annotiertes Autorenexemplar</a
            >
          </li>
          <li>
            <a href="../s01/s01-app.xml#s01-app-ch-1-5" class="other-toc-indent"
              >Transkriptionsregeln für handschriftliches Material</a
            >
          </li>
          <li>
            <a href="../s01/s01-app.xml#s01-app-ch-1-6" class="other-toc-indent"
              >Kommentar</a
            >
          </li>
          <li>
            <pb-collapse>
              <span slot="collapse-trigger">
                <a
                  href="../s01/s01-app.xml#s01-app-ch-1-7"
                  class="collapse-toc-indent"
                  >Dokumente zur Entstehungsgeschichte und frühen Wirkung sowie
                  Quellennachweis</a
                >
              </span>
              <span slot="collapse-content">
                <ul>
                  <li>
                    <a
                      href="../s01/s01-app.xml#s01-app-ch-1-7-1"
                      class="other-toc-indent"
                      >Verzeichnis der von Wölfflin verwendeten Literatur
                      (Stellenregister)</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s01/s01-app.xml#s01-app-ch-1-7-2"
                      class="other-toc-indent"
                      >Verzeichnis der von Wölfflin erwähnten Kunstwerke</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s01/s01-app.xml#s01-app-ch-1-7-3"
                      class="other-toc-indent"
                      >Personenregister</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s01/s01-app.xml#s01-app-ch-1-7-4"
                      class="other-toc-indent"
                      >Nachweis der emendierten Stellen im Originaltext</a
                    >
                  </li>
                </ul>
              </span>
            </pb-collapse>
          </li>
          <li>
            <a href="../s01/s01-app.xml#s01-app-ch-1-8" class="other-toc-indent"
              >Verwendete Abkürzungen</a
            >
          </li>
          <li>
            <a href="../s01/s01-app.xml#s01-app-ch-1-9" class="other-toc-indent"
              >Verwendete Signaturen</a
            >
          </li>
          <li>
            <a
              href="../s01/s01-app.xml#s01-app-ch-1-10"
              class="other-toc-indent"
              >Dank</a
            >
          </li>
          <li>
            <a
              href="../s01/s01-app.xml#s01-app-ch-1-todo"
              class="other-toc-indent"
              >Anmerkungen</a
            >
          </li>
        </ul>
      </span>
    </pb-collapse>
  </li>
  <li>
    <a href="../s01/s01-app.xml#s01-app-ch-2" class="other-toc-indent"
      >Kommentar</a
    >
  </li>
  <li>
    <pb-collapse>
      <span slot="collapse-trigger">
        <a href="../s01/s01-app.xml#s01-app-ch-3" class="collapse-toc-indent"
          >Dokumente</a
        >
      </span>
      <span slot="collapse-content">
        <ul>
          <li>
            <a href="../s01/s01-app.xml#s01-doc-1" class="other-toc-indent"
              >Dok. 1 <span class="tei-rs1">Heinrich Wölfflin</span> an die
              Familie, <span class="tei-rs1">Basel</span>, 1. Dezember 1882</a
            >
          </li>
          <li>
            <a href="../s01/s01-app.xml#s01-doc-2" class="other-toc-indent"
              >Dok. 2 <span class="tei-rs1">Heinrich Wölfflin</span> an die
              Familie, Basel, 4. Mai 1884</a
            >
          </li>
          <li>
            <a href="../s01/s01-app.xml#s01-doc-3" class="other-toc-indent"
              >Dok. 3 <span class="tei-rs1">Heinrich Wölfflin</span> an die
              Familie, <span class="tei-rs1">Basel</span>, 11. Mai 1884</a
            >
          </li>
          <li>
            <a href="../s01/s01-app.xml#s01-doc-4" class="other-toc-indent"
              >Dok. 4 <span class="tei-rs1">Heinrich Wölfflin</span> an die
              Familie, <span class="tei-rs1">Basel</span>, 16. Mai 1884</a
            >
          </li>
          <li>
            <a href="../s01/s01-app.xml#s01-doc-5" class="other-toc-indent"
              >Dok. 5 <span class="tei-rs1">Heinrich Wölfflin</span> an die
              Familie, <span class="tei-rs1">Basel</span>, Juni 1884</a
            >
          </li>
          <li>
            <a href="../s01/s01-app.xml#s01-doc-6" class="other-toc-indent"
              >Dok. 6 <span class="tei-rs1">Heinrich Wölfflin</span> an die
              Familie, <span class="tei-rs1">Basel</span>, 5. Juli 1884</a
            >
          </li>
          <li>
            <a href="../s01/s01-app.xml#s01-doc-7" class="other-toc-indent"
              >Dok. 7 <span class="tei-rs1">Heinrich Wölfflin</span> an die
              Familie, <span class="tei-rs1">Berlin</span>, 22. Mai 1885</a
            >
          </li>
          <li>
            <a href="../s01/s01-app.xml#s01-doc-8" class="other-toc-indent"
              >Dok. 8 <span class="tei-rs1">Heinrich Wölfflin</span> an den
              Vater, <span class="tei-rs1">Berlin</span>, 22. Juni 1885</a
            >
          </li>
          <li>
            <a href="../s01/s01-app.xml#s01-doc-9" class="other-toc-indent"
              >Dok. 9 <span class="tei-rs1">Heinrich Wölfflin</span> an die
              Familie, <span class="tei-rs1">Berlin</span>, 28. Juni 1885</a
            >
          </li>
          <li>
            <a href="../s01/s01-app.xml#s01-doc-10" class="other-toc-indent"
              >Dok. 10 <span class="tei-rs1">Heinrich Wölfflin</span> an die
              Familie, <span class="tei-rs1">Berlin</span>, 28. Juli 1885</a
            >
          </li>
          <li>
            <a href="../s01/s01-app.xml#s01-doc-11" class="other-toc-indent"
              >Dok. 11 <span class="tei-rs1">Heinrich Wölfflin</span> an die
              Familie, <span class="tei-rs1">Berlin</span>, Juli 1885</a
            >
          </li>
          <li>
            <a href="../s01/s01-app.xml#s01-doc-12" class="other-toc-indent"
              >Dok. 12 <span class="tei-rs1">Heinrich Wölfflin</span> an die
              Familie, <span class="tei-rs1">Berlin</span>, 26.—29. Oktober
              1885</a
            >
          </li>
          <li>
            <a href="../s01/s01-app.xml#s01-doc-13" class="other-toc-indent"
              >Dok. 13 <span class="tei-rs1">Heinrich Wölfflin</span> an die
              Familie, <span class="tei-rs1">Berlin</span>, 5. November 1885</a
            >
          </li>
          <li>
            <a href="../s01/s01-app.xml#s01-doc-14" class="other-toc-indent"
              >Dok. 14 <span class="tei-rs1">Heinrich Wölfflin</span> an die
              Familie, <span class="tei-rs1">Berlin</span>, November 1885</a
            >
          </li>
          <li>
            <a href="../s01/s01-app.xml#s01-doc-15" class="other-toc-indent"
              >Dok. 15 <span class="tei-rs1">Heinrich Wölfflin</span> an den
              Vater, <span class="tei-rs1">Berlin</span>, Ende 1885</a
            >
          </li>
          <li>
            <a href="../s01/s01-app.xml#s01-doc-16" class="other-toc-indent"
              >Dok. 16 <span class="tei-rs1">Heinrich Wölfflin</span> an die
              Familie, <span class="tei-rs1">Berlin</span>, 15. Januar 1886</a
            >
          </li>
          <li>
            <a href="../s01/s01-app.xml#s01-doc-17" class="other-toc-indent"
              >Dok. 17 <span class="tei-rs1">Heinrich Wölfflin</span> an die
              Familie, <span class="tei-rs1">Berlin</span>, Februar 1886</a
            >
          </li>
          <li>
            <a href="../s01/s01-app.xml#s01-doc-18" class="other-toc-indent"
              >Dok. 18 <span class="tei-rs1">Heinrich Wölfflin</span> an die
              Familie, <span class="tei-rs1">Berlin</span>, 4. Februar 1886</a
            >
          </li>
          <li>
            <a href="../s01/s01-app.xml#s01-doc-19" class="other-toc-indent"
              >Dok. 19 <span class="tei-rs1">Heinrich Wölfflin</span>, Nh. 10:
              Gliederungsentwürfe für die Dissertation, o.D.</a
            >
          </li>
          <li>
            <a href="../s01/s01-app.xml#s01-doc-20" class="other-toc-indent"
              >Dok. 20 <span class="tei-rs1">Heinrich Wölfflin</span>, Nh. 11:
              Gliederungsentwürfe für die Dissertation, o.D.</a
            >
          </li>
          <li>
            <a href="../s01/s01-app.xml#s01-doc-21" class="other-toc-indent"
              >Dok. 21 Promotionsakten</a
            >
          </li>
          <li>
            <a href="../s01/s01-app.xml#s01-doc-22" class="other-toc-indent"
              >Dok. 22 <span class="tei-rs1">Friedrich Paulsen</span> an
              <span class="tei-rs1">Heinrich Wölfflin</span>,
              <span class="tei-rs1">Berlin</span>, 8. August 1886</a
            >
          </li>
          <li>
            <a href="../s01/s01-app.xml#s01-doc-23" class="other-toc-indent"
              >Dok. 23 Heinrich Wölfflin , Nh. 12, Oktober 1885—Herbst 1886, pp.
              84—93</a
            >
          </li>
          <li>
            <a href="../s01/s01-app.xml#s01-doc-24" class="other-toc-indent"
              >Dok. 24 Arthur Seidl, Zur Aesthetik der Tonkunst, 1888</a
            >
          </li>
          <li>
            <a href="../s01/s01-app.xml#s01-doc-25" class="other-toc-indent"
              >Dok. 25 Heinrich Wölfflin, Über die Entstehung der Prolegomena,
              o.D.</a
            >
          </li>
          <li>
            <a
              href="../s01/s01-app.xml#s01-app-ch-3-26"
              class="other-toc-indent"
              >Anmerkungen</a
            >
          </li>
        </ul>
      </span>
    </pb-collapse>
  </li>
  <li>
    <a href="../s01/s01-app.xml#s01-app-ch-4" class="other-toc-indent"
      >Verzeichnis der von Wölfflin zitierten Literatur</a
    >
  </li>
  <li>
    <a href="../s01/s01-app.xml#s01-app-ch-5" class="other-toc-indent"
      >Verzeichnis der von Heinrich Wölfflin erwähnten Kunstwerke</a
    >
  </li>
  <li>
    <a href="../s01/s01-app.xml#s01-app-ch-6" class="other-toc-indent"
      >Literaturverzeichnis</a
    >
  </li>
  <li>
    <a href="../s01/s01-app.xml#s01-app-ch-7" class="other-toc-indent"
      >Personenverzeichnis</a
    >
  </li>
</ul>
