<ul>
  <li>
    <a href="../s01/s01-in.xml#s01-in-ch-1-1" class="other-toc-indent"
      >Zwischen den Linien</a
    >
  </li>
  <li>
    <a href="../s01/s01-in.xml#s01-in-ch-1-2" class="other-toc-indent"
      >Das Terrain der Argumente</a
    >
  </li>
  <li>
    <a href="../s01/s01-in.xml#s01-in-ch-1-3" class="other-toc-indent"
      >Fernwirkungen Immanuel Kants</a
    >
  </li>
  <li>
    <a href="../s01/s01-in.xml#s01-in-ch-1-4" class="other-toc-indent"
      >«Das stolze Glück einer Säule»</a
    >
  </li>
  <li>
    <a href="../s01/s01-in.xml#s01-in-ch-1-5" class="other-toc-indent"
      >Symbol und Verkörperung</a
    >
  </li>
</ul>
