<ul>
  <li>
    <a href="../s01/s01-ed.xml#s01-ed-ch-0-1" class="other-toc-indent"
      >Inhalts-Verzeichniss.</a
    >
  </li>
  <li>
    <a href="../s01/s01-ed.xml#s01-ed-ch-1-0" class="other-toc-indent"
      >I. Psychologische Grundlage.</a
    >
  </li>
  <li>
    <a href="../s01/s01-ed.xml#s01-ed-ch-2-0" class="other-toc-indent"
      >II. Der Gegenstand der Architektur.</a
    >
  </li>
  <li>
    <a href="../s01/s01-ed.xml#s01-ed-ch-3-0" class="other-toc-indent"
      >III. Die Form und ihre Momente.</a
    >
  </li>
  <li>
    <a href="../s01/s01-ed.xml#s01-ed-ch-4-0" class="other-toc-indent"
      >IV. Charakteristik der Proportionen.</a
    >
  </li>
  <li>
    <a href="../s01/s01-ed.xml#s01-ed-ch-5-0" class="other-toc-indent"
      >V. Charakteristik der horizontalen Gliederung.</a
    >
  </li>
  <li>
    <a href="../s01/s01-ed.xml#s01-ed-ch-6-0" class="other-toc-indent"
      >VI. Charakteristik der vertikalen Gliederung.</a
    >
  </li>
  <li>
    <a href="../s01/s01-ed.xml#s01-ed-ch-7-0" class="other-toc-indent"
      >VII. Das Ornament.</a
    >
  </li>
  <li>
    <a href="../s01/s01-ed.xml#s01-ed-ch-8-0" class="other-toc-indent"
      >VIII. Prinzipien der historischen Beurteilung.</a
    >
  </li>
</ul>
