<div class="header-title">
  <a
    href="${app}/s08/index.html"
    data-template="pages:parse-params"
    class="structure-link"
  >
    <span id="hw">Heinrich Wölfflin</span>
    <span id="gw">Gesammelte Werke</span>
    <br />
    <span id="volume-title" class="structure-link">
      <span class="werke">
        <em>BETA:</em> Italien und das deutsche Formgefühl</span
      >
      <span class="werke">1931</span>
      <br />
      <span id="schriften">Schriften 8</span>
    </span>
  </a>
</div>
