<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"
    />

    <title>Heinrich Wölfflin. Gesammelte Werke</title>
    <meta name="description" content="Start page of the series." />
    <link
      rel="icon"
      type="image/png"
      href="resources/images/HWGW_Edition_favicon.png"
    />

    <link rel="stylesheet" href="resources/fonts/font.css" />

    <link rel="stylesheet" href="resources/css/hw-variables.css" />
    <link rel="stylesheet" href="resources/css/hw-colour.css" />
    <link rel="stylesheet" href="resources/css/series-core.css" />
    <link rel="stylesheet" href="resources/css/series-header-layout.css" />
    <link rel="stylesheet" href="resources/css/series-header-colour.css" />
    <link rel="stylesheet" href="resources/css/series-footer.css" />
    <link rel="stylesheet" href="resources/css/series-main-layout.css" />

    <link rel="stylesheet" href="resources/css/series-front-extras.css" />

    <link rel="stylesheet" href="resources/css/hw-series-responsive.css" />

    <script src="resources/scripts/hwgw/compress-header.js" />
  </head>
  <body>
    <pb-page
      data-template="pages:pb-page"
      unresolved="unresolved"
      locales="resources/i18n/{{ns}}/{{lng}}.json"
    >
      <header id="header">
        <a
          class="series-logo"
          href="${app}/index.html"
          data-template="pages:parse-params"
          aria-label="Startseite der Serie"
        />
        <a class="skip-link" href="#main">Springe zum Inhalt</a>
        <a
          class="skip-link"
          href="${app}/sitemap.html"
          data-template="pages:parse-params"
          >Sitemap</a
        >
        <div>
          <nav>
            <ul>
              <li class="dropdown toolbar-item">
                <a class="nav-head structure-link nav-head-button" href="#"
                  >Digitale Edition</a
                >
                <div class="dropdown-content">
                  <ul
                    data-template="lib:include"
                    data-template-path="templates/series-volume-navigation.html"
                  />
                </div>
              </li>
              <li>
                <a href="${app}/project.html" data-template="pages:parse-params"
                  >Projekt</a
                >
              </li>
              <li>
                <a href="${app}/notes.html" data-template="pages:parse-params"
                  >Hinweise</a
                >
              </li>
              <li>
                <a
                  href="${app}/search.html?query="
                  data-template="pages:parse-params"
                  >Suche</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <main id="main">
        <div style="height: 1px; overflow: hidden">
          <h1>Heinrich Wölfflin. Gesammelte Werke: Startseite</h1>
        </div>

        <div class="text-section">
          <div id="t-section-main">
            <figure class="hw-front-image">
              <img
                src="${app}/resources/images/woelfflin_persheid.webp"
                alt="Bildnis von Heinrich Wölfflin"
              />
              <figcaption class="hw-front-image-caption">
                Nicola Persheid, <cite>Bildnis von Heinrich Wölfflin</cite>,
                1912, Basel, Universitätsbibliothek, Handschriftenabteilung,
                Nachlass Heinrich Wölfflin
              </figcaption>
            </figure>
            <p>
              Heinrich Wölfflin (1864–1945) gehört zu den grundlegenden Autoren
              der Kunstgeschichte. Sein umfangreiches Werk, das der
              wissenschaftlichen Fundierung der Disziplin gewidmet ist, wird bis
              heute weltweit und fachübergreifend rezipiert.
            </p>
            <p>
              Heinrich Wölfflins <cite>Gesammelte Werke</cite> (HWGW) werden in
              einer kritisch kommentierten Ausgabe publiziert. Das an der
              Universität Zürich und der Bibliotheca Hertziana –
              Max-Planck-Institut für Kunstgeschichte in Rom angesiedelte
              Editionsprojekt umfasst alle Publikationen sowie
              unveröffentlichten Schriften Wölfflins. Es präsentiert sein Werk
              erstmals in voller Breite und in seinem diskursiven Kontext sowohl
              in gedruckter als auch in digitaler Form.
            </p>

            <p>
              Die gedruckten Editionsbände erscheinen sukzessive als frei
              zugängliche digitale Ausgaben auf der Publikationsplattform
              <a href="https://humanitiesconnect.pub/" class="hw-external-link"
                >HumanitiesConnect</a
              >
              der Bibliotheca Hertziana. Gegenüber der Druckausgabe bietet die
              digitale Edition eine umfangreiche Verknüpfung mit Referenzdaten,
              weitere Archivalien und die Volltextsuche in sämtlichen Bänden.
              Damit soll die Erforschung der Kunstgeschichte,
              Wissenschaftsgeschichte und visuellen Kultur auf eine neue
              wissenschaftliche und technologische Basis gestellt werden.
            </p>
          </div>
        </div>
        <div style="clear: both" />

        <div class="publication-section">
          <div>
            <h2>Erschienen</h2>
            <div class="publication-hr" />
            <div class="publication-block">
              <div class="publication-block-top">
                <div class="publiation-logo" />
                <div class="publication-title">
                  <h3>
                    <!--<a href="${app}/s01/index.html" data-template="pages:parse-params">-->
                    <span class="author-line">Heinrich Wölfflin</span>
                    <span class="title-line"
                      >Prolegomena zu einer Psychologie der Architektur
                      1886</span
                    >
                    <span class="volume-line">Schriften 1</span>
                    <!--</a>-->
                  </h3>
                </div>
              </div>
              <details>
                <summary />
                <div class="publication-extras">
                  <div>
                    <img src="resources/images/schwabe/s01-cover.png" alt="" />
                    <a
                      href="https://schwabe.ch/prolegomena-zu-einer-psychologie-der-architektur-1886-978-3-7965-3834-6"
                      class="publisher-link"
                      >Bestellen beim Schwabe-Verlag <span class="arrow-link" />
                    </a>
                    <!--<a href="${app}/s01/index.html" data-template="pages:parse-params" class="volume-link">Zur digitalen Ausgabe<span class="arrow-link1"/>
                                        </a>-->
                  </div>
                  <div>
                    <p>
                      Herausgegeben von Tristan Weddigen und Oskar Bätschmann
                    </p>
                    <p>
                      Einleitung von Gottfried Boehm, kritischer Kommentar von
                      Giovanna Targia unter Mitarbeit von Anja Martina
                      Eichelberger und Sonia Neagoe
                    </p>
                    <p>
                      Heinrich Wölfflins Dissertation Prolegomena zu einer
                      Psychologie der Architektur von 1886 ist in jüngster Zeit
                      wieder in den Fokus der kultur- und
                      naturwissenschaftlichen Forschung gerückt. Gegenstand der
                      Arbeit bildet die angenommene Fähigkeit der Baukunst,
                      «seelische Wirkungen» beim Betrachter hervorzurufen. Diese
                      Wirkungen will der Text beschreiben und erklären.
                    </p>
                    <p>
                      «Unsre leibliche Organisation ist die Form, unter der wir
                      alles Körperliche auffassen» – so charakterisiert Wölfflin
                      die organische Analogie, die seinem Herangehen an das
                      Studium architektonischer Stile zugrunde liegt. Anhand der
                      Prolegomena lassen sich die theoretischen Voraussetzungen
                      nachvollziehen, aus denen Wölfflins Denken in seinem
                      charakteristischen formanalytischen Ansatz hervorgegangen
                      ist. Das Werk fordert zugleich zu einer erneuten
                      Auseinandersetzung damit auf, wie Biologie, Kunstschöpfung
                      und -rezeption zusammenhängen.
                    </p>
                  </div>
                </div>
              </details>
            </div>
            <div class="publication-block">
              <div class="publication-block-top">
                <div class="publiation-logo" />
                <div class="publication-title">
                  <h3>
                    <!--<a href="${app}/s02/index.html" data-template="pages:parse-params">-->
                    <span class="author-line">Heinrich Wölfflin</span>
                    <span class="title-line">Renaissance und Barock</span>
                    <span class="title-line"
                      >Eine Untersuchung über Wesen und Entstehung des
                      Barockstils in Italien 1888</span
                    >
                    <span class="volume-line">Schriften 2</span>
                    <!--</a>-->
                  </h3>
                </div>
              </div>
              <details>
                <summary />
                <div class="publication-extras">
                  <div>
                    <img src="resources/images/schwabe/s02-cover.png" alt="" />
                    <a
                      href="https://schwabe.ch/heinrich-woelfflin-renaissance-und-barock-978-3-7965-3835-3?c=693"
                      class="publisher-link"
                      >Bestellen beim Schwabe-Verlag<span class="arrow-link" />
                    </a>
                    <!--    <a href="${app}/s01/index.html" data-template="pages:parse-params" class="volume-link">Zur digitalen Ausgabe<span class="arrow-link1"></span></a>   -->
                  </div>
                  <div>
                    <p>
                      Herausgegeben von Tristan Weddigen, Oskar Bätschmann,
                      Joris van Gastel
                    </p>
                    <p>
                      Einleitung von Oskar Bätschmann, Kommentar und Bearbeitung
                      von Noemi Bearth und Karolina Zgraja.
                    </p>
                    <p>
                      Mit seiner Habilitationsschrift Renaissance und Barock.
                      Eine Untersuchung über Wesen und Entstehung des
                      Barockstils in Italien (1888) griff Heinrich Wölfflin die
                      Umwertung des Barockstils auf. Eine Reihe von
                      Kunsthistorikern machte sich während der Mode des
                      Neobarock daran, den Architekturstil des 16. und 17.
                      Jahrhunderts neu zu erforschen und zu werten, und
                      versuchte auch in der Antike einen «Barockstil» zu
                      definieren. Diese drei Wiederholungen sollten erlauben,
                      eine Gesetzmässigkeit im geschichtlichen Verlauf zu
                      erkennen. Einen solchen Einblick ins «Innere der Kunst»
                      erklärte Wölfflin zum eigentlichen Ziel der
                      Kunstgeschichte.
                    </p>
                    <p>
                      Unter den zahlreichen Versuchen der Definition eines
                      Barockstils hat Wölfflins Schrift durch die Qualität ihrer
                      Methode ihren hohen Rang behalten. Diese zeichnet sich aus
                      durch beschreibende Analyse und vergleichende
                      Entgegensetzung der Stile von Renaissance und Barock,
                      durch den Versuch, die Gründe für den Stilwandel zu
                      erklären, und schliesslich durch die Verifizierung der
                      Analyse an ausgewählten sakralen und profanen Gebäuden in
                      Rom. Mit dem differenzierenden Vergleich zwischen
                      Renaissance und Barock schuf sich Wölfflin die Grundlage
                      für eine Kritik des Barock, die weit über der früheren
                      Geringschätzung steht.
                    </p>
                  </div>
                </div>
              </details>
            </div>
            <div class="publication-block">
              <div class="publication-block-top">
                <div class="publiation-logo" />
                <div class="publication-title">
                  <h3>
                    <a
                      href="${app}/s03/index.html"
                      data-template="pages:parse-params"
                    >
                      <span class="author-line">Heinrich Wölfflin</span>
                      <span class="title-line">Salomon Geßner 1889</span>
                      <span class="volume-line">Schriften 3</span>
                    </a>
                  </h3>
                </div>
              </div>
              <details>
                <summary />
                <div class="publication-extras">
                  <div>
                    <img src="resources/images/schwabe/s03-cover.png" alt="" />
                    <a
                      href="https://schwabe.ch/salomon-gessner-978-3-7965-3773-8"
                      class="publisher-link"
                      >Bestellen beim Schwabe-Verlag<span class="arrow-link" />
                    </a>
                    <a
                      href="${app}/s03/index.html"
                      data-template="pages:parse-params"
                      class="volume-link"
                      >Zur digitalen Ausgabe<span class="arrow-link1" />
                    </a>
                  </div>
                  <div>
                    <p>
                      Herausgegeben von Tristan Weddigen und Oskar Bätschmann
                    </p>
                    <p>
                      Einleitung von Wolfgang Proß, Kommentar und Bearbeitung
                      von Elisabeth-Christine Gamer, unter Mitarbeit von Nora
                      Guggenbühler, Anja Eichelberger und Ilka Glückselig
                    </p>
                    <p>
                      Heinrich Wölfflin veröffentlichte seine Studie
                      <cite>Salomon Geßner</cite> 1889, nur ein Jahr nach seiner
                      berühmten Habilitationsschrift
                      <cite>Renaissance und Barock</cite>. Als einzige
                      Monographie mit literaturwissenschaftlichem Schwerpunkt
                      nimmt sie im Œuvre des Kunsthistorikers eine
                      Sonderstellung ein. Wölfflin widmet sich hier dem Zürcher
                      Dichter, Maler und Graphiker der Aufklärung (1730–1788),
                      der schon zu Lebzeiten europaweit Ansehen genoss und als
                      Künstler und Verleger mit Zeitgenossen wie Christoph
                      Martin Wieland, Johann Georg Sulzer, Karl Wilhelm Ramler
                      und Anton Graff verkehrte. Wölfflin beleuchtet die
                      Lebensgeschichte Geßners, kontextualisiert dessen
                      Idyllendichtungen, untersucht ihre literarischen
                      Voraussetzungen und nimmt sprachliche Analysen vor. Hinzu
                      kommt eine kunsthistorische Einordnung des
                      bildkünstlerischen Schaffens Geßners.
                    </p>
                    <p>
                      Als Teil der neuen kritischen Edition der gesammelten
                      Werke Wölfflins erscheint
                      <cite>Salomon Geßner</cite> erstmals wieder und mit einer
                      literaturwissenschaftlichen Einleitung von Wolfgang Proß,
                      der eine umfassende Würdigung der Monographie als ein
                      Dokument der transdisziplinären Forschung Wölfflins
                      vornimmt. Überdies bringt Proß die Schrift mit dem
                      zentralen Konzept der Stilgeschichte in Zusammenhang und
                      verortet die Untersuchung in der
                      literaturwissenschaftlichen Forschungsdiskussion des
                      ausgehenden 19. Jahrhunderts. Der kritische Kommentar
                      erschliesst das reiche Quellenmaterial zu
                      <cite>Salomon Geßner</cite> aus Wölfflins Notiz- und
                      Tagebüchern. Damit leistet die kommentierte Edition einen
                      Beitrag zur fächerübergreifenden Wissenschaftsgeschichte
                      und zur Text-Bild-Forschung.
                    </p>
                  </div>
                </div>
              </details>
            </div>
            <div class="publication-block">
              <div class="publication-block-top">
                <div class="publiation-logo" />
                <div class="publication-title">
                  <h3>
                    <a
                      href="${app}/s04/index.html"
                      data-template="pages:parse-params"
                    >
                      <span class="author-line">Heinrich Wölfflin</span>
                      <span class="title-line"
                        >Die Jugendwerke des Michelangelo 1891</span
                      >
                      <span class="volume-line">Schriften 4</span>
                    </a>
                  </h3>
                </div>
              </div>
              <details>
                <summary />
                <div class="publication-extras">
                  <div>
                    <img src="resources/images/schwabe/s04-cover.png" alt="" />
                    <a
                      href="https://schwabe.ch/die-jugendwerke-des-michelangelo-978-3-7965-3774-5"
                      class="publisher-link"
                      >Bestellen beim Schwabe-Verlag<span class="arrow-link" />
                    </a>
                    <a
                      href="${app}/s04/index.html"
                      data-template="pages:parse-params"
                      class="volume-link"
                      >Zur digitalen Ausgabe<span class="arrow-link1" />
                    </a>
                  </div>
                  <div>
                    <p>
                      Herausgegeben von Tristan Weddigen und Oskar Bätschmann
                    </p>
                    <p>
                      Einleitung von Joseph Imorde, Kommentar und Bearbeitung
                      von Karolina Zgraja, unter Mitarbeit von Leonora Kugler
                      und Noemi Bearth
                    </p>
                    <p>
                      Mit einem neuen methodischen Vorgehen verfolgt Heinrich
                      Wölfflin in den Jugendwerken des Michelangelo das Ziel,
                      die frühen Werke des Künstlers anhand formanalytischer
                      Kategorien chronologisch und stilistisch zu ordnen. Dabei
                      bestimmt er die Bedeutung der auf Echtheit geprüften
                      Objekte für die spätere Entwicklung Michelangelos.
                      Wölfflin untersucht die Werke hinsichtlich ihres
                      Ausdruckswerts und vermeidet so ihre biografische und
                      kulturhistorische Verortung. Damit distanziert sich der
                      junge Autor von der traditionellen
                      Kunstgeschichtsschreibung und der etablierten
                      Michelangelo-Forschung des ausgehenden 19. Jahrhunderts.
                      An den <cite>Jugendwerken des Michelangelo</cite>, die an
                      Wölfflins Habilitationsschrift
                      <cite>Renaissance und Barock</cite> anschliessen, lässt
                      sich die Zeitgebundenheit seines methodischen Vorgehens
                      vor der Folie der Geschichte der Kunstgeschichte ablesen.
                    </p>
                  </div>
                </div>
              </details>
            </div>
            <div class="publication-block">
              <div class="publication-block-top">
                <div class="publiation-logo" />
                <div class="publication-title">
                  <h3>
                    <!--<a href="${app}/s06/index.html" data-template="pages:parse-params">-->
                    <span class="author-line">Heinrich Wölfflin</span>
                    <span class="title-line"
                      >Die Kunst Albrecht Dürers 1905</span
                    >
                    <span class="volume-line">Schriften 6</span>
                    <!--</a>-->
                  </h3>
                </div>
              </div>
              <details>
                <summary />
                <div class="publication-extras">
                  <div>
                    <img src="resources/images/schwabe/s06-cover.png" alt="" />
                    <a
                      href="https://schwabe.ch/heinrich-woelfflin-die-kunst-albrecht-duerers-978-3-7965-5047-8?c=693"
                      class="publisher-link"
                      >Bestellen beim Schwabe-Verlag <span class="arrow-link" />
                    </a>
                    <!--<a href="${app}/s06/index.html" data-template="pages:parse-params" class="volume-link">Zur digitalen Ausgabe<span class="arrow-link1"/>
                                        </a>-->
                  </div>
                  <div>
                    <p>
                      Herausgegeben von Tristan Weddigen, Oskar Bätschmann,
                      Joris van Gastel
                    </p>
                    <p>
                      Einleitung von Oskar Bätschmann, Bearbeitung und Kommentar
                      von Elena Filippi und Christine Grundig
                    </p>
                    <p>
                      In seiner Dürer-Monografie von 1905, die hier ediert wird,
                      entwickelt Wölfflin eine Anleitung zum Sehen und Erkennen
                      der neuen künstlerischen Möglichkeiten in der Malerei und
                      Grafik des Künstlers. Wölfflin legt in seinem Dürer-Buch
                      neue Möglichkeiten der Beschreibung dar. Dazu baute er das
                      vergleichende Sehen und die differenzierte Beschreibung
                      der Form zu einem Instrument der Analyse aus. Wölfflin
                      definiert die neuen Ausdrucksmöglichkeiten Dürers in den
                      unterschiedlichen Techniken Zeichnung, Malerei,
                      Kupferstich und Holzschnitt. Seine Formanalysen liefern
                      der Dürer-Forschung bis heute wichtige Anregungen. Für das
                      Fach Kunstgeschichte entwickelte Wölfflin mit seiner
                      Arbeit das vielfach verwendbare Instrument der
                      analytischen Beschreibung, die von der Untersuchung der
                      Form zu Begriffen führt. Der lebenslange freundschaftliche
                      Wettbewerb von Wölfflin mit Erwin Panofsky über ihre
                      Dürer-Arbeiten ist für die Rezeptionsgeschichte besonders
                      wichtig.
                    </p>
                  </div>
                </div>
              </details>
            </div>
            <div class="publication-block">
              <div class="publication-block-top">
                <div class="publiation-logo" />
                <div class="publication-title">
                  <h3>
                    <!--<a href="${app}/s08/index.html" data-template="pages:parse-params">-->
                    <span class="author-line">Heinrich Wölfflin</span>
                    <span class="title-line"
                      >Italien und das deutsche Formgefühl 1931</span
                    >
                    <span class="volume-line">Schriften 8</span>
                    <!--</a>-->
                  </h3>
                </div>
              </div>
              <details>
                <summary />
                <div class="publication-extras">
                  <div>
                    <img src="resources/images/schwabe/s08-cover.png" alt="" />
                    <a
                      href="https://schwabe.ch/heinrich-woelfflin-italien-und-das-deutsche-formgefuehl-978-3-7965-5048-5?c=693"
                      class="publisher-link"
                      >Bestellen beim Schwabe-Verlag <span class="arrow-link" />
                    </a>
                    <!--<a href="${app}/s08/index.html" data-template="pages:parse-params" class="volume-link">Zur digitalen Ausgabe<span class="arrow-link1"/>
                                        </a>-->
                  </div>
                  <div>
                    <p>
                      Herausgegeben von Tristan Weddigen, Oskar Bätschmann,
                      Joris van Gastel
                    </p>
                    <p>
                      Einleitung von Hubert Locher, Bearbeitung und Kommentar
                      von Teresa Ende
                    </p>
                    <p>
                      Italien und das deutsche Formgefühl aus dem Jahr 1931 ist
                      Heinrich Wölfflins letztes grosses Buch – und das am
                      wenigsten rezipierte. Erstmals versucht Wölfflin darin,
                      die für sein ganzes Leben und Wirken bestimmende
                      Auseinandersetzung mit dem Gegensatz Italien – Deutschland
                      systematisch zu erfassen und die Unterschiede zwischen
                      italienischer und deutscher Kunst und Architektur von 1480
                      bis 1530 vergleichend darzustellen. In der Einleitung
                      analysiert Hubert Locher den langwierigen
                      Entstehungsprozess, das historische Umfeld, die Methode
                      und schleppende Rezeption des Buches. Die Ausgabe wird von
                      einem historisch-kritischen Kommentar von Teresa Ende
                      begleitet. Der Editionsband liefert wichtige Erkenntnisse
                      zum Kunst- und Selbstverständnis eines der weltweit
                      meistgelesenen Kunsthistoriker sowie zur Geschichte und
                      Methodik des Faches selbst.
                    </p>
                  </div>
                </div>
              </details>
            </div>
          </div>
        </div>

        <div class="publication-section">
          <div>
            <h2>In Vorbereitung</h2>
            <div class="publication-hr" />
            <div class="unpublished-block">
              <div class="publication-block-top">
                <div class="publiation-logo" />
                <div class="publication-title">
                  <h3>
                    <span class="author-line">Heinrich Wölfflin</span>
                    <span class="title-line">Die Klassische Kunst</span>
                    <span class="title-line"
                      >Eine Einführung in die italienische Renaissance
                      1899</span
                    >
                    <span class="volume-line">Schriften 5</span>
                  </h3>
                </div>
              </div>
            </div>
            <div class="unpublished-block">
              <div class="publication-block-top">
                <div class="publiation-logo" />
                <div class="publication-title">
                  <h3>
                    <span class="author-line">Heinrich Wölfflin</span>
                    <span class="title-line"
                      >Kunstgeschichtliche Grundbegriffe</span
                    >
                    <span class="title-line"
                      >Das Problem der Stilentwickelung in der neueren Kunst
                      1915</span
                    >
                    <span class="volume-line">Schriften 7</span>
                  </h3>
                </div>
              </div>
            </div>
            <div class="unpublished-block">
              <div class="publication-block-top">
                <div class="publiation-logo" />
                <div class="publication-title">
                  <h3>
                    <span class="author-line">Heinrich Wölfflin</span>
                    <span class="title-line"
                      >Gedanken zur Kunstgeschichte 1940</span
                    >
                    <span class="volume-line">Schriften 9</span>
                  </h3>
                </div>
              </div>
            </div>
            <div class="unpublished-block">
              <div class="publication-block-top">
                <div class="publiation-logo" />
                <div class="publication-title">
                  <h3>
                    <span class="author-line">Heinrich Wölfflin</span>
                    <span class="title-line">Kleine Schriften I.</span>
                    <span class="volume-line">Schriften 10</span>
                  </h3>
                </div>
              </div>
            </div>
            <div class="unpublished-block">
              <div class="publication-block-top">
                <div class="publiation-logo" />
                <div class="publication-title">
                  <h3>
                    <span class="author-line">Heinrich Wölfflin</span>
                    <span class="title-line">Kleine Schriften II.</span>
                    <span class="volume-line">Schriften 11</span>
                  </h3>
                </div>
              </div>
            </div>
            <div class="unpublished-block">
              <div class="publication-block-top">
                <div class="publiation-logo" />
                <div class="publication-title">
                  <h3>
                    <span class="author-line">Heinrich Wölfflin</span>
                    <span class="title-line">Vorlesungsnachschriften I.</span>
                    <span class="volume-line">Archivalien 1</span>
                  </h3>
                </div>
              </div>
            </div>
            <div class="unpublished-block">
              <div class="publication-block-top">
                <div class="publiation-logo" />
                <div class="publication-title">
                  <h3>
                    <span class="author-line">Heinrich Wölfflin</span>
                    <span class="title-line">Vorlesungsnachschriften II.</span>
                    <span class="volume-line">Archivalien 2</span>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer
        data-template="lib:include"
        data-template-path="templates/series-footer.html"
      />
    </pb-page>
    <div class="splash" />
  </body>
</html>
