<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"
    />

    <title>HWGW – Redirect</title>
    <meta name="description" content="Start page of the series." />
    <link
      rel="icon"
      type="image/png"
      href="resources/images/HWGW_Edition_favicon.png"
    />

    <style>
      main {
        display: flex;
        align-items: center;
        height: 100vh;
        background-color: black !important;
      }
      div {
        background-image: url("resources/images/HWGW_logo_RGB_cropped.png");
        background-size: contain;
        background-repeat: no-repeat; /* Do not repeat the image */
        width: 320px;
        height: 136px;
        display: block;
        min-width: 160px;
        margin: auto;
      }
    </style>

    <script src="resources/scripts/hwgw/link-resolver.js" />
  </head>
  <body>
    <main>
      <div />
    </main>
  </body>
</html>
