<footer>
  <ul>
    <li>
      <span class="hwgw-footer-label">Published by</span>
      <a class="humanities-connect-logo" href="https://humanitiesconnect.pub/"
        ><img
          src="${app}/resources/images/logo_Humanitiesconnect.svg"
          alt="Humanities Connect"
          data-template="pages:parse-params"
      /></a>
    </li>
    <li>
      <a href="${app}/sitemap.html" data-template="pages:parse-params"
        >Sitemap</a
      >
    </li>
    <li>
      <a href="${app}/impressum.html" data-template="pages:parse-params"
        >Impressum</a
      >
    </li>
    <li>
      <a href="${app}/data-protection.html" data-template="pages:parse-params"
        >Datenschutz</a
      >
    </li>
  </ul>
</footer>
