<ul aria-label="submenu" class="toc">
  <li>
    <a href="${app}/s01/index.html" data-template="pages:parse-params"
      >Schriften 1 Prolegomena</a
    >
  </li>
  <!--<li>
    <a href="${app}/s02/index.html" data-template="pages:parse-params">Schriften 2 Renaissance u. Barock</a>
  </li>-->
  <li>
    <a href="${app}/s03/index.html" data-template="pages:parse-params"
      >Schriften 3 Geßner</a
    >
  </li>
  <li>
    <a href="${app}/s04/index.html" data-template="pages:parse-params"
      >Schriften 4 Jugendwerke</a
    >
  </li>
  <!--<li>
    <a href="${app}/s05/index.html" data-template="pages:parse-params">Schriften 5 Klassische Kunst</a>
  </li>-->
  <!--<li>
    <a href="${app}/s06/index.html" data-template="pages:parse-params">Schriften 6 Dürer</a>
  </li>-->
  <!--<li>
    <a href="${app}/s07/index.html" data-template="pages:parse-params">Schriften 7 Grundbegriffe</a>
  </li>-->
  <!--<li>
    <a href="${app}/s08/index.html" data-template="pages:parse-params">Schriften 8 Formgefühl</a>
  </li>-->
  <!--<li>
    <a href="${app}/s09/index.html" data-template="pages:parse-params">Schriften 9 Gedanken</a>
  </li>-->
</ul>
