<footer>
  <ul>
    <li>
      <span class="hwgw-footer-label">Published by</span>
      <a class="humanities-connect-logo" href="https://humanitiesconnect.pub/">
        <img
          src="${app}/resources/images/logo_Humanitiesconnect.svg"
          alt="Humanities Connect"
          data-template="pages:parse-params"
        />
      </a>
    </li>
    <li>
      <ul>
        <li>
          <a href="sitemap.html" data-template="pages:parse-params">Sitemap</a>
        </li>
        <li>
          <a href="${app}/impressum.html" data-template="pages:parse-params"
            >Impressum</a
          >
        </li>
        <li>
          <a
            href="${app}/data-protection.html"
            data-template="pages:parse-params"
            >Datenschutz</a
          >
        </li>
        <li>
          <pb-view
            id="last-change"
            src="document1"
            xpath="//teiHeader/revisionDesc/listChange/change[1]"
            view="single"
            odd="woelfflin-meta"
            disable-history="true"
            subscribe="transcription"
          />
        </li>
      </ul>
    </li>
  </ul>
</footer>
