<div class="dropdown-content">
  <ul aria-label="submenu" class="toc">
    <li>
      <a
        href="${app}/search.html?query=&amp;facet-type=Bibliografie&amp;facet-volume=${collection}"
        data-template="pages:parse-params"
        >Bibliografie</a
      >
    </li>
    <li>
      <a
        href="${app}/search.html?query=&amp;facet-type=Objekte&amp;facet-volume=${collection}"
        data-template="pages:parse-params"
        >Objekte</a
      >
    </li>
    <li>
      <a
        href="${app}/search.html?query=&amp;facet-type=Organisationen&amp;facet-volume=${collection}"
        data-template="pages:parse-params"
        >Organisationen</a
      >
    </li>
    <li>
      <a
        href="${app}/search.html?query=&amp;facet-type=Orte&amp;facet-volume=${collection}"
        data-template="pages:parse-params"
        >Orte</a
      >
    </li>
    <li>
      <a
        href="${app}/search.html?query=&amp;facet-type=Personen&amp;facet-volume=${collection}"
        data-template="pages:parse-params"
        >Personen</a
      >
    </li>
  </ul>
</div>
