<ul>
  <style>
    ul {
      padding-left: 0;
    }
    li {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    a.pageNavigation {
      color: #b09189;
      display: block;
    }
  </style>

  <li>Einleitung</li>
  <li>Heinrich Wölfflin und Salomon Gessner</li>
  <li>Die Entstehungsumstände der <cite>Geßner</cite>-Studie</li>
  <li>Zur Ausgangslage</li>
  <li>
    <a href="s03-in.xml#s03-pg9" class="pageNavigation">9</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg10" class="pageNavigation">10</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg11" class="pageNavigation">11</a>
  </li>
  <li>
    Wölfflins akademische Milieus: die Ausbildung komplementärer Kategorien
  </li>
  <li>
    <a href="s03-in.xml#s03-pg12" class="pageNavigation">12</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg13" class="pageNavigation">13</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg14" class="pageNavigation">14</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg15" class="pageNavigation">15</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg16" class="pageNavigation">16</a>
  </li>
  <li>Die <cite>Prolegomena</cite> als Modell einer Formengeschichte</li>
  <li>
    <a href="s03-in.xml#s03-pg17" class="pageNavigation">17</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg18" class="pageNavigation">18</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg19" class="pageNavigation">19</a>
  </li>
  <li>
    Gessners Stellung in der Geschichte der Nationalliteratur des 19.
    Jahrhunderts
  </li>
  <li>
    <a href="s03-in.xml#s03-pg20" class="pageNavigation">20</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg21" class="pageNavigation">21</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg22" class="pageNavigation">22</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg23" class="pageNavigation">23</a>
  </li>
  <li>
    Die Konkurrenz zu Adolf Freys Geßner-Projekt: Hirzels
    <cite>Haller</cite> (1882) und Wölfflins <cite>Geßner</cite>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg24" class="pageNavigation">24</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg25" class="pageNavigation">25</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg26" class="pageNavigation">26</a>
  </li>

  <li>Gessners Idyllik aus der Perspektive von Wölfflins Stilgeschichte</li>
  <li>Vorbemerkung</li>
  <li>
    <a href="s03-in.xml#s03-pg27" class="pageNavigation">27</a>
  </li>
  <li>Der bigrafische Abriss</li>
  <li>
    <a href="s03-in.xml#s03-pg28" class="pageNavigation">28</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg29" class="pageNavigation">29</a>
  </li>
  <li>Die «Grundstimmung» des Zeitalters</li>
  <li>
    <a href="s03-in.xml#s03-pg30" class="pageNavigation">30</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg31" class="pageNavigation">31</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg32" class="pageNavigation">32</a>
  </li>

  <li>
    «Künstliche Natürlichkeit» und «edle Einfalt»: Stilisierung der Natur und
    Nachahmung der Antike
  </li>
  <li>
    <a href="s03-in.xml#s03-pg33" class="pageNavigation">33</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg34" class="pageNavigation">34</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg35" class="pageNavigation">35</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg36" class="pageNavigation">36</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg37" class="pageNavigation">37</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg38" class="pageNavigation">38</a>
  </li>
  <li>
    Von der Naturbeschreibung zur Naturbeseelung: die Übersetzung von Empfindung
    in Sprache
  </li>
  <li>
    <a href="s03-in.xml#s03-pg39" class="pageNavigation">39</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg40" class="pageNavigation">40</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg41" class="pageNavigation">41</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg42" class="pageNavigation">42</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg43" class="pageNavigation">43</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg44" class="pageNavigation">44</a>
  </li>
  <li>
    Das Verhältnis von Detail und Komposition: Gessners Kunst zwischen zwei
    Epochen des «grossen» Stils
  </li>
  <li>
    <a href="s03-in.xml#s03-pg45" class="pageNavigation">45</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg46" class="pageNavigation">46</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg47" class="pageNavigation">47</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg48" class="pageNavigation">48</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg49" class="pageNavigation">49</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg50" class="pageNavigation">50</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg51" class="pageNavigation">51</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg52" class="pageNavigation">52</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg53" class="pageNavigation">53</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg54" class="pageNavigation">54</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg55" class="pageNavigation">55</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg56" class="pageNavigation">56</a>
  </li>

  <li>Das Nachleben der <cite>Geßner</cite>-Schrift</li>
  <li>Wölfflin und das Gessner-Jubiläum von 1930</li>
  <li>
    <a href="s03-in.xml#s03-pg57" class="pageNavigation">57</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg58" class="pageNavigation">58</a>
  </li>
  <li>
    Die Rezeption der <cite>Geßner</cite>-Studie in der Literaturwissenschaft
  </li>
  <li>
    <a href="s03-in.xml#s03-pg59" class="pageNavigation">59</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg60" class="pageNavigation">60</a>
  </li>
  <li>Gessner-Forschung nach Wölfflin</li>
  <li>
    <a href="s03-in.xml#s03-pg61" class="pageNavigation">61</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg62" class="pageNavigation">62</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg63" class="pageNavigation">63</a>
  </li>
  <li>Anmerkungen</li>
  <li>
    <a href="s03-in.xml#s03-pg64" class="pageNavigation">64</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg65" class="pageNavigation">65</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg66" class="pageNavigation">66</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg67" class="pageNavigation">67</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg68" class="pageNavigation">68</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg69" class="pageNavigation">69</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg70" class="pageNavigation">70</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg71" class="pageNavigation">71</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg72" class="pageNavigation">72</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg73" class="pageNavigation">73</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg74" class="pageNavigation">74</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg75" class="pageNavigation">75</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg76" class="pageNavigation">76</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg77" class="pageNavigation">77</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg78" class="pageNavigation">78</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg79" class="pageNavigation">79</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg80" class="pageNavigation">80</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg81" class="pageNavigation">81</a>
  </li>
  <li>
    <a href="s03-in.xml#s03-pg82" class="pageNavigation">82</a>
  </li>
  <li>Text</li>
  <li>Heinrich Wölfflin: Salomon Geßner</li>
  <li>
    <a href="s03-ed.xml#s03-pg83" class="pageNavigation">83</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg84" class="pageNavigation">84</a>
  </li>
  <li>Vorwort.</li>
  <li>
    <a href="s03-ed.xml#s03-pg85" class="pageNavigation">85</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg86" class="pageNavigation">86</a>
  </li>
  <li>Erster Teil.</li>

  <li>
    <a href="s03-ed.xml#s03-pg87" class="pageNavigation">87</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg88" class="pageNavigation">88</a>
  </li>
  <li>Lebensgeschichte.</li>
  <li>
    <a href="s03-ed.xml#s03-pg89" class="pageNavigation">89</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg90" class="pageNavigation">90</a>
  </li>
  <li>I.</li>
  <li>
    <a href="s03-ed.xml#s03-pg91" class="pageNavigation">91</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg92" class="pageNavigation">92</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg93" class="pageNavigation">93</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg94" class="pageNavigation">94</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg95" class="pageNavigation">95</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg96" class="pageNavigation">96</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg97" class="pageNavigation">97</a>
  </li>
  <li>II.</li>
  <li>
    <a href="s03-ed.xml#s03-pg98" class="pageNavigation">98</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg99" class="pageNavigation">99</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg100" class="pageNavigation">100</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg101" class="pageNavigation">101</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg102" class="pageNavigation">102</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg103" class="pageNavigation">103</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg103" class="pageNavigation">103</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg105" class="pageNavigation">105</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg106" class="pageNavigation">106</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg107" class="pageNavigation">107</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg108" class="pageNavigation">108</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg109" class="pageNavigation">109</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg110" class="pageNavigation">110</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg111" class="pageNavigation">111</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg112" class="pageNavigation">112</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg113" class="pageNavigation">113</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg114" class="pageNavigation">114</a>
  </li>
  <li>III.</li>
  <li>
    <a href="s03-ed.xml#s03-pg115" class="pageNavigation">115</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg116" class="pageNavigation">116</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg117" class="pageNavigation">117</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg118" class="pageNavigation">118</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg119" class="pageNavigation">119</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg120" class="pageNavigation">120</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg121" class="pageNavigation">121</a>
  </li>
  <li>IV.</li>
  <li>
    <a href="s03-ed.xml#s03-pg122" class="pageNavigation">122</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg123" class="pageNavigation">123</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg124" class="pageNavigation">124</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg125" class="pageNavigation">125</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg126" class="pageNavigation">126</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg127" class="pageNavigation">127</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg128" class="pageNavigation">128</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg129" class="pageNavigation">129</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg130" class="pageNavigation">130</a>
  </li>
  <li>Zweiter Teil.</li>
  <li>
    <a href="s03-ed.xml#s03-pg131" class="pageNavigation">131</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg132" class="pageNavigation">132</a>
  </li>
  <li>1. Allgemeine Voraussetzungen.</li>
  <li>I.</li>
  <li>
    <a href="s03-ed.xml#s03-pg133" class="pageNavigation">133</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg134" class="pageNavigation">134</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg135" class="pageNavigation">135</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg136" class="pageNavigation">136</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg137" class="pageNavigation">137</a>
  </li>
  <li>II.</li>
  <li>
    <a href="s03-ed.xml#s03-pg138" class="pageNavigation">138</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg139" class="pageNavigation">139</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg140" class="pageNavigation">140</a>
  </li>
  <li>III.</li>
  <li>
    <a href="s03-ed.xml#s03-pg141" class="pageNavigation">141</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg142" class="pageNavigation">142</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg143" class="pageNavigation">143</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg144" class="pageNavigation">144</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg145" class="pageNavigation">145</a>
  </li>
  <li>2. Natur und Aufklärung.</li>
  <li>I.</li>
  <li>
    <a href="s03-ed.xml#s03-pg146" class="pageNavigation">146</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg147" class="pageNavigation">147</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg148" class="pageNavigation">148</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg149" class="pageNavigation">149</a>
  </li>
  <li>II.</li>
  <li>
    <a href="s03-ed.xml#s03-pg150" class="pageNavigation">150</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg151" class="pageNavigation">151</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg152" class="pageNavigation">152</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg153" class="pageNavigation">153</a>
  </li>
  <li>III.</li>
  <li>
    <a href="s03-ed.xml#s03-pg154" class="pageNavigation">154</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg155" class="pageNavigation">155</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg156" class="pageNavigation">156</a>
  </li>
  <li>3. Antike</li>
  <li>I.</li>
  <li>
    <a href="s03-ed.xml#s03-pg157" class="pageNavigation">157</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg158" class="pageNavigation">158</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg159" class="pageNavigation">159</a>
  </li>
  <li>II.</li>
  <li>
    <a href="s03-ed.xml#s03-pg160" class="pageNavigation">160</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg161" class="pageNavigation">161</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg162" class="pageNavigation">162</a>
  </li>
  <li>III.</li>
  <li>
    <a href="s03-ed.xml#s03-pg163" class="pageNavigation">163</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg164" class="pageNavigation">164</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg165" class="pageNavigation">165</a>
  </li>
  <li>4. Empfindsamkeit.</li>
  <li>I.</li>
  <li>
    <a href="s03-ed.xml#s03-pg166" class="pageNavigation">166</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg167" class="pageNavigation">167</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg168" class="pageNavigation">168</a>
  </li>
  <li>II.</li>
  <li>
    <a href="s03-ed.xml#s03-pg169" class="pageNavigation">169</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg170" class="pageNavigation">170</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg171" class="pageNavigation">171</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg172" class="pageNavigation">172</a>
  </li>
  <li>III.</li>
  <li>
    <a href="s03-ed.xml#s03-pg173" class="pageNavigation">173</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg174" class="pageNavigation">174</a>
  </li>
  <li>5. Sprache und Form.</li>
  <li>
    <a href="s03-ed.xml#s03-pg175" class="pageNavigation">175</a>
  </li>
  <li>I.</li>
  <li>
    <a href="s03-ed.xml#s03-pg176" class="pageNavigation">176</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg177" class="pageNavigation">177</a>
  </li>
  <li>II.</li>
  <li>
    <a href="s03-ed.xml#s03-pg178" class="pageNavigation">178</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg179" class="pageNavigation">179</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg180" class="pageNavigation">180</a>
  </li>
  <li>III.</li>
  <li>
    <a href="s03-ed.xml#s03-pg181" class="pageNavigation">181</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg182" class="pageNavigation">182</a>
  </li>
  <li>IV.</li>
  <li>
    <a href="s03-ed.xml#s03-pg183" class="pageNavigation">183</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg184" class="pageNavigation">184</a>
  </li>
  <li>6. Kunst.</li>
  <li>I.</li>
  <li>
    <a href="s03-ed.xml#s03-pg185" class="pageNavigation">185</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg186" class="pageNavigation">186</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg187" class="pageNavigation">187</a>
  </li>
  <li>II.</li>
  <li>
    <a href="s03-ed.xml#s03-pg188" class="pageNavigation">188</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg189" class="pageNavigation">189</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg190" class="pageNavigation">190</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg191" class="pageNavigation">191</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg192" class="pageNavigation">192</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg193" class="pageNavigation">193</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg194" class="pageNavigation">194</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg195" class="pageNavigation">195</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg196" class="pageNavigation">196</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg197" class="pageNavigation">197</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg198" class="pageNavigation">198</a>
  </li>
  <li>III.</li>
  <li>
    <a href="s03-ed.xml#s03-pg199" class="pageNavigation">199</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg200" class="pageNavigation">200</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg201" class="pageNavigation">201</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg202" class="pageNavigation">202</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg203" class="pageNavigation">203</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg203" class="pageNavigation">203</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg205" class="pageNavigation">205</a>
  </li>
  <li>Schluß.</li>
  <li>
    <a href="s03-ed.xml#s03-pg206" class="pageNavigation">206</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg207" class="pageNavigation">207</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg208" class="pageNavigation">208</a>
  </li>
  <li>Anhang.</li>
  <li>
    <a href="s03-ed.xml#s03-pg209" class="pageNavigation">209</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg210" class="pageNavigation">210</a>
  </li>
  <li>Briefe S. Geßners an J. G. Schultheß.</li>
  <li>I.</li>
  <li>
    <a href="s03-ed.xml#s03-pg211" class="pageNavigation">211</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg212" class="pageNavigation">212</a>
  </li>
  <li>II.</li>
  <li>
    <a href="s03-ed.xml#s03-pg213" class="pageNavigation">213</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg214" class="pageNavigation">214</a>
  </li>
  <li>III.</li>
  <li>
    <a href="s03-ed.xml#s03-pg215" class="pageNavigation">215</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg216" class="pageNavigation">216</a>
  </li>
  <li>IV.</li>
  <li>
    <a href="s03-ed.xml#s03-pg217" class="pageNavigation">217</a>
  </li>
  <li>V.</li>
  <li>
    <a href="s03-ed.xml#s03-pg218" class="pageNavigation">218</a>
  </li>
  <li>VI.</li>
  <li>
    <a href="s03-ed.xml#s03-pg219" class="pageNavigation">219</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg220" class="pageNavigation">220</a>
  </li>
  <li>VII.</li>
  <li>
    <a href="s03-ed.xml#s03-pg221" class="pageNavigation">221</a>
  </li>
  <li>
    <a href="s03-ed.xml#s03-pg222" class="pageNavigation">222</a>
  </li>
  <li>Inhaltsübersicht.</li>
  <li>
    <a href="s03-ed.xml#s03-pg223" class="pageNavigation">223</a>
  </li>
  <li>Verzeichnis der Abbildungen.</li>
  <li>
    <a href="s03-ed.xml#s03-pg224" class="pageNavigation">224</a>
  </li>
  <li>Apparat</li>
  <!--
<li>
        <a href="s03-app.xml#s03-pg225" class="pageNavigation">225</a>
    </li>
<li>
        <a href="s03-app.xml#s03-pg226" class="pageNavigation">226</a>
    </li>
    -->
  <li>Editorische Notiz</li>
  <li>
    <a href="s03-app.xml#s03-pg227" class="pageNavigation">227</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg228" class="pageNavigation">228</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg229" class="pageNavigation">229</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg230" class="pageNavigation">230</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg231" class="pageNavigation">231</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg232" class="pageNavigation">232</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg233" class="pageNavigation">233</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg234" class="pageNavigation">234</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg235" class="pageNavigation">235</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg236" class="pageNavigation">236</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg237" class="pageNavigation">237</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg238" class="pageNavigation">238</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg239" class="pageNavigation">239</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg240" class="pageNavigation">240</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg241" class="pageNavigation">241</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg242" class="pageNavigation">242</a>
  </li>
  <li>Abbildungsverzeichnis</li>
  <li>
    <a href="s03-app.xml#s03-pg243" class="pageNavigation">243</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg244" class="pageNavigation">244</a>
  </li>
  <li>Kommentar</li>
  <li>
    <a href="s03-app.xml#s03-pg245" class="pageNavigation">245</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg246" class="pageNavigation">246</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg247" class="pageNavigation">247</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg248" class="pageNavigation">248</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg249" class="pageNavigation">249</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg250" class="pageNavigation">250</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg251" class="pageNavigation">251</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg252" class="pageNavigation">252</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg253" class="pageNavigation">253</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg254" class="pageNavigation">254</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg255" class="pageNavigation">255</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg256" class="pageNavigation">256</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg257" class="pageNavigation">257</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg258" class="pageNavigation">258</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg259" class="pageNavigation">259</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg260" class="pageNavigation">260</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg261" class="pageNavigation">261</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg262" class="pageNavigation">262</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg263" class="pageNavigation">263</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg264" class="pageNavigation">264</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg265" class="pageNavigation">265</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg266" class="pageNavigation">266</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg267" class="pageNavigation">267</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg268" class="pageNavigation">268</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg269" class="pageNavigation">269</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg270" class="pageNavigation">270</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg271" class="pageNavigation">271</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg272" class="pageNavigation">272</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg273" class="pageNavigation">273</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg274" class="pageNavigation">274</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg275" class="pageNavigation">275</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg276" class="pageNavigation">276</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg277" class="pageNavigation">277</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg278" class="pageNavigation">278</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg279" class="pageNavigation">279</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg280" class="pageNavigation">280</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg281" class="pageNavigation">281</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg282" class="pageNavigation">282</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg283" class="pageNavigation">283</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg284" class="pageNavigation">284</a>
  </li>
  <li>Dokumente</li>
  <li>
    <a href="s03-app.xml#s03-pg285" class="pageNavigation">285</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg286" class="pageNavigation">286</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg287" class="pageNavigation">287</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg288" class="pageNavigation">288</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg289" class="pageNavigation">289</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg290" class="pageNavigation">290</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg291" class="pageNavigation">291</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg292" class="pageNavigation">292</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg293" class="pageNavigation">293</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg294" class="pageNavigation">294</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg295" class="pageNavigation">295</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg296" class="pageNavigation">296</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg297" class="pageNavigation">297</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg298" class="pageNavigation">298</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg299" class="pageNavigation">299</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg300" class="pageNavigation">300</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg301" class="pageNavigation">301</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg302" class="pageNavigation">302</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg303" class="pageNavigation">303</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg304" class="pageNavigation">304</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg305" class="pageNavigation">305</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg306" class="pageNavigation">306</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg307" class="pageNavigation">307</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg308" class="pageNavigation">308</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg309" class="pageNavigation">309</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg310" class="pageNavigation">310</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg311" class="pageNavigation">311</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg312" class="pageNavigation">312</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg313" class="pageNavigation">313</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg314" class="pageNavigation">314</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg315" class="pageNavigation">315</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg316" class="pageNavigation">316</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg317" class="pageNavigation">317</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg318" class="pageNavigation">318</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg319" class="pageNavigation">319</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg320" class="pageNavigation">320</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg321" class="pageNavigation">321</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg322" class="pageNavigation">322</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg323" class="pageNavigation">323</a>
  </li>
  <li>Verzeichnis der von Wölfflin zitierten Literatur</li>
  <a href="s03-app.xml#s03-pg324" class="pageNavigation">324</a>
  <li>
    <a href="s03-app.xml#s03-pg325" class="pageNavigation">325</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg326" class="pageNavigation">326</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg327" class="pageNavigation">327</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg328" class="pageNavigation">328</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg329" class="pageNavigation">329</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg330" class="pageNavigation">330</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg331" class="pageNavigation">331</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg332" class="pageNavigation">332</a>
  </li>
  <li>Verzeichnis der von Wölfflin erwähnten Kunstwerke</li>
  <li>
    <a href="s03-app.xml#s03-pg333" class="pageNavigation">333</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg334" class="pageNavigation">334</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg335" class="pageNavigation">335</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg336" class="pageNavigation">336</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg337" class="pageNavigation">337</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg338" class="pageNavigation">338</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg339" class="pageNavigation">339</a>
  </li>
  <li>Literaturverzeichnis</li>
  <li>
    <a href="s03-app.xml#s03-pg340" class="pageNavigation">340</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg341" class="pageNavigation">341</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg342" class="pageNavigation">342</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg343" class="pageNavigation">343</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg344" class="pageNavigation">344</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg345" class="pageNavigation">345</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg346" class="pageNavigation">346</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg347" class="pageNavigation">347</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg348" class="pageNavigation">348</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg349" class="pageNavigation">349</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg350" class="pageNavigation">350</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg351" class="pageNavigation">351</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg352" class="pageNavigation">352</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg353" class="pageNavigation">353</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg354" class="pageNavigation">354</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg355" class="pageNavigation">355</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg356" class="pageNavigation">356</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg357" class="pageNavigation">357</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg358" class="pageNavigation">358</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg359" class="pageNavigation">359</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg360" class="pageNavigation">360</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg361" class="pageNavigation">361</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg362" class="pageNavigation">362</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg363" class="pageNavigation">363</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg364" class="pageNavigation">364</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg365" class="pageNavigation">365</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg366" class="pageNavigation">366</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg367" class="pageNavigation">367</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg368" class="pageNavigation">368</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg369" class="pageNavigation">369</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg370" class="pageNavigation">370</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg371" class="pageNavigation">371</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg372" class="pageNavigation">372</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg373" class="pageNavigation">373</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg374" class="pageNavigation">374</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg375" class="pageNavigation">375</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg376" class="pageNavigation">376</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg377" class="pageNavigation">377</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg378" class="pageNavigation">378</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg379" class="pageNavigation">379</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg380" class="pageNavigation">380</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg381" class="pageNavigation">381</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg382" class="pageNavigation">382</a>
  </li>
  <li>Personenverzeichnis</li>
  <li>
    <a href="s03-app.xml#s03-pg383" class="pageNavigation">383</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg384" class="pageNavigation">384</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg385" class="pageNavigation">385</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg386" class="pageNavigation">386</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg387" class="pageNavigation">387</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg388" class="pageNavigation">388</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg389" class="pageNavigation">389</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg390" class="pageNavigation">390</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg391" class="pageNavigation">391</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg392" class="pageNavigation">392</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg393" class="pageNavigation">393</a>
  </li>
  <li>
    <a href="s03-app.xml#s03-pg394" class="pageNavigation">394</a>
  </li>
</ul>
