<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"
    />

    <title>Sitemap für Salomon Geßner 1889</title>
    <meta name="description" content="Wölfflin - books" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="resources/images/favicon.ico"
    />
    <link rel="icon" type="image/png" href="resources/images/favicon.png" />

    <link rel="stylesheet" type="text/css" href="resources/fonts/font.css" />

    <link rel="stylesheet" href="resources/css/theme.css" />
    <link rel="stylesheet" href="resources/css/hw-variables.css" />
    <link rel="stylesheet" href="resources/css/hw-colour.css" />

    <link rel="stylesheet" href="resources/css/volume-core.css" />

    <link rel="stylesheet" href="resources/css/volume-header-colour.css" />
    <link rel="stylesheet" href="resources/css/volume-header-layout.css" />

    <link rel="stylesheet" href="resources/css/volume-footer.css" />

    <link rel="stylesheet" href="resources/css/volume-main-colour.css" />
    <link rel="stylesheet" href="resources/css/volume-main-layout.css" />

    <link rel="stylesheet" href="resources/css/hw-responsive.css" />

    <!-- webfont tied to Adobe-->
    <link rel="stylesheet" href="https://use.typekit.net/mkk8aec.css" />
    <!-- Google icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <script
      type="module"
      src="pb-components-bundle.js"
      data-template="pages:load-components"
    />
    <style>
      main {
          display: unset;
      }

      main a {
          color: var(--hw-series-text-color);
      }

      .sitemap ul {
          list-style: none;
      }

      .sitemap &gt; ul {
          padding-left: 0;
      }

      .sitemap &gt; ul &gt; li {
          margin-top: 1em;
      }

      .sitemap &gt; ul &gt; li &gt; a {
          font-size: larger;
      }
    </style>
  </head>

  <body>
    <pb-page
      data-template="pages:pb-page"
      unresolved="unresolved"
      locales="resources/i18n/{{ns}}/{{lng}}.json"
    >
      <header>
        <div class="header">
          <a
            href="${app}/index.html"
            class="logo"
            data-template="pages:parse-params"
            aria-label="Startseite der Serie"
          />
          <div class="header-title">
            <a href="index.html" class="structure-link">
              <span id="hw">Heinrich Wölfflin</span>
              <span id="gw">Gesammelte Werke</span>
            </a>
            <br />
            <a
              id="volume-title"
              href="${app}/s03/index.html"
              data-template="pages:parse-params"
              class="structure-link"
            >
              <span class="werke">Salomon Geßner</span>
              <span class="werke">1889</span>
              <br />
              <span id="schriften">Schriften 3</span>
            </a>
          </div>
        </div>
      </header>

      <main class="content-body">
        <div class="sitemap">
          <h1>Sitemap für <cite>Salomon Geßner 1889</cite></h1>
          <p>
            Diese Übersicht beschreibt den Band <emph>Schriften 3 Geßner</emph>.
            Für die Orientierung ausserhalb dient das
            <a data-template="pages:parse-params" href="${app}/sitemap.html"
              >Sitemap der Serie HWGW</a
            >.
          </p>

          <ul>
            <li>
              <a data-template="pages:parse-params" href="${app}/s03/index.html"
                >Startseite von <cite>Salomon Geßner 1889</cite>
              </a>
            </li>
            <li>
              <a data-template="pages:parse-params" href="${app}/s03/s03-in.xml"
                >Einleitung. Wolfgang Proß: Heinrich Wölfflin und Salomon
                Gessner</a
              >
              <ul>
                <li>
                  <a
                    data-template="pages:parse-params"
                    href="${app}/s03/s03-in.xml#s03-in-ch-1-1"
                    >Die Entstehungsumstände der Geßner-Studie</a
                  >

                  <ul>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-in.xml#s03-in-ch-1-1-0"
                        >Zur Ausgangslage</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-in.xml#s03-in-ch-1-1-1"
                        >Wölfflins akademische Milieus: die Ausbildung
                        komplementärer Kategorien</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-in.xml#s03-in-ch-1-1-2"
                        >Die Prolegomena als Modell einer Formengeschichte</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-in.xml#s03-in-ch-1-1-3"
                        >Gessners Stellung in der Geschichte der
                        Nationalliteratur des 19. Jahrhunderts</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-in.xml#s03-in-ch-1-1-4"
                        >Die Konkurrenz zu Adolf Freys Geßner-Projekt: Hirzels
                        Haller (1882) und Wölfflins Geßner</a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  <a
                    data-template="pages:parse-params"
                    href="${app}/s03/s03-in.xml#s03-in-ch-1-2"
                    >Gessners Idyllik aus der Perspektive von Wölfflins
                    Stilgeschichte</a
                  >
                  <ul>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-in.xml#s03-in-ch-1-2-0"
                        >Vorbemerkung</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-in.xml#s03-in-ch-1-2-1"
                        >Der biografische Abriss</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-in.xml#s03-in-ch-1-2-2"
                        >Die «Grundstimmung» des Zeitalters</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-in.xml#s03-in-ch-1-2-3"
                        >«Künstliche Natürlichkeit» und «edle Einfalt»:
                        Stilisierung der Natur und Nachahmung der Antike</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-in.xml#s03-in-ch-1-2-4"
                        >Von der Naturbeschreibung zur Naturbeseelung: die
                        Übersetzung von Empfindung in Sprache</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-in.xml#s03-in-ch-1-2-5"
                        >Das Verhältnis von Detail und Komposition: Gessners
                        Kunst zwischen zwei Epochen des «grossen» Stils</a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  <a
                    data-template="pages:parse-params"
                    href="${app}/s03/s03-in.xml#s03-in-ch-1-3"
                    >Das Nachleben der Geßner-Schrift</a
                  >
                  <ul>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-in.xml#s03-in-ch-1-3-0"
                        >Wölfflin und das Gessner-Jubiläum von 1930</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-in.xml#s03-in-ch-1-3-1"
                        >Die Rezeption der Geßner-Studie in der
                        Literaturwissenschaft</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-in.xml#s03-in-ch-1-3-2"
                        >Gessner-Forschung nach Wölfflin</a
                      >
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a data-template="pages:parse-params" href="${app}/s03/s03-ed.xml"
                >Heinrich Wölfflin: Salomon Geßner</a
              >
              <ul>
                <li>
                  <a
                    data-template="pages:parse-params"
                    href="${app}/s03/s03-ed.xml#s03-ed-ch-0-2"
                    >Vorwort.</a
                  >
                </li>
                <li>
                  <a
                    data-template="pages:parse-params"
                    href="${app}/s03/s03-ed.xml#s03-ed-ch-1"
                    >Erster Teil.</a
                  >
                  <ul>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-ed.xml#s03-ed-ch-1-1"
                        >Lebensgeschichte.</a
                      >
                      <ul>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-ed.xml#s03-ed-ch-1-1-1"
                            >I.</a
                          >
                        </li>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-ed.xml#s03-ed-ch-1-1-2"
                            >II.</a
                          >
                        </li>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-ed.xml#s03-ed-ch-1-1-3"
                            >III.</a
                          >
                        </li>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-ed.xml#s03-ed-ch-1-1-4"
                            >IV.</a
                          >
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>
                  <a
                    data-template="pages:parse-params"
                    href="${app}/s03/s03-ed.xml#s03-ed-ch-2"
                    >Zweiter Teil.</a
                  >
                  <ul>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-ed.xml#s03-ed-ch-2-1"
                        >1. Allgemeine Voraussetzungen.</a
                      >
                      <ul>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-ed.xml#s03-ed-ch-2-1-1"
                            >I.</a
                          >
                        </li>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-ed.xml#s03-ed-ch-2-1-2"
                            >II.</a
                          >
                        </li>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-ed.xml#s03-ed-ch-2-1-3"
                            >III.</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-ed.xml#s03-ed-ch-2-2"
                        >2. Natur und Aufklärung.</a
                      >
                      <ul>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-ed.xml#s03-ed-ch-2-2-0"
                            >I.</a
                          >
                        </li>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-ed.xml#s03-ed-ch-2-2-1"
                            >II.</a
                          >
                        </li>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-ed.xml#s03-ed-ch-2-2-2"
                            >III.</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-ed.xml#s03-ed-ch-2-3"
                        >3. Antike.</a
                      >
                      <ul>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-ed.xml#s03-ed-ch-2-3-0"
                            >I.</a
                          >
                        </li>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-ed.xml#s03-ed-ch-2-3-1"
                            >II.</a
                          >
                        </li>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-ed.xml#s03-ed-ch-2-3-2"
                            >III.</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-ed.xml#s03-ed-ch-2-4"
                        >4. Empfindsamkeit.</a
                      >
                      <ul>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-ed.xml#s03-ed-ch-2-4-0"
                            >I.</a
                          >
                        </li>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-ed.xml#s03-ed-ch-2-4-1"
                            >II.</a
                          >
                        </li>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-ed.xml#s03-ed-ch-2-4-2"
                            >III.</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-ed.xml#s03-ed-ch-2-5"
                        >5. Sprache und Form.</a
                      >
                      <ul>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-ed.xml#s03-ed-ch-2-5-1"
                            >I.</a
                          >
                        </li>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-ed.xml#s03-ed-ch-2-5-2"
                            >II.</a
                          >
                        </li>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-ed.xml#s03-ed-ch-2-5-3"
                            >III.</a
                          >
                        </li>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-ed.xml#s03-ed-ch-2-5-4"
                            >IV.</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-ed.xml#s03-ed-ch-2-6"
                        >6. Kunst.</a
                      >
                      <ul>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-ed.xml#s03-ed-ch-2-6-0"
                            >I.</a
                          >
                        </li>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-ed.xml#s03-ed-ch-2-6-1"
                            >II.</a
                          >
                        </li>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-ed.xml#s03-ed-ch-2-6-2"
                            >III.</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-ed.xml#s03-ed-ch-2-7"
                        >Schluß.</a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  <a
                    data-template="pages:parse-params"
                    href="${app}/s03/s03-ed.xml#s03-ed-ch-3"
                    >Anhang</a
                  >
                  <ul>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-ed.xml#s03-ed-ch-3-1"
                        >Briefe S. Geßners an J.G. Schultheß .</a
                      >
                      <ul>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-ed.xml#s03-ed-ch-3-1-0"
                            >I.</a
                          >
                        </li>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-ed.xml#s03-ed-ch-3-1-1"
                            >II.</a
                          >
                        </li>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-ed.xml#s03-ed-ch-3-1-2"
                            >III.</a
                          >
                        </li>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-ed.xml#s03-ed-ch-3-1-3"
                            >IV.</a
                          >
                        </li>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-ed.xml#s03-ed-ch-3-1-4"
                            >V.</a
                          >
                        </li>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-ed.xml#s03-ed-ch-3-1-5"
                            >VI.</a
                          >
                        </li>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-ed.xml#s03-ed-ch-3-1-6"
                            >VII.</a
                          >
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>
                  <a
                    data-template="pages:parse-params"
                    href="${app}/s03/s03-ed.xml#s03-ed-ch-4-1"
                    >Inhaltsübersicht.</a
                  >
                </li>
                <li>
                  <a
                    data-template="pages:parse-params"
                    href="${app}/s03/s03-ed.xml#s03-ed-ch-4-2"
                    >Verzeichnis der Abbildungen.</a
                  >
                </li>
              </ul>
            </li>

            <li>
              <a
                data-template="pages:parse-params"
                href="${app}/s03/s03-app.xml"
                >Apparat</a
              >
              <ul>
                <li>
                  <a
                    data-template="pages:parse-params"
                    href="${app}/s03/s03-app.xml#s03-app-ch-1"
                    >Editorische Notiz</a
                  >
                  <ul>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-app-ch-1-1"
                        >Beschreibung des Textträgers</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-app-ch-1-2"
                        >Originaltext</a
                      >
                      <ul>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-app.xml#s03-app-ch-1-2-1"
                            >Textgrundlage</a
                          >
                        </li>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-app.xml#s03-app-ch-1-2-2"
                            >Orthografie und Interpunktion</a
                          >
                        </li>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-app.xml#s03-app-ch-1-2-3"
                            >Paginierung</a
                          >
                        </li>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-app.xml#s03-app-ch-1-2-4"
                            >Typografie</a
                          >
                        </li>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-app.xml#s03-app-ch-1-2-5"
                            >Anmerkungen</a
                          >
                        </li>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-app.xml#s03-app-ch-1-2-6"
                            >Zitate</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-app-ch-1-3"
                        >Annotiertes Autorenexemplar</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-app-ch-1-4"
                        >Transkriptionsregeln</a
                      >
                      <ul>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-app.xml#s03-app-ch-1-4-1"
                            >Transkriptionsregeln für Handschriftliches</a
                          >
                        </li>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-app.xml#s03-app-ch-1-4-2"
                            >Transkriptionsregeln für Druckwerke</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-app-ch-1-5"
                        >Abbildungen</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-app-ch-1-6"
                        >Kommentar</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-app-ch-1-7"
                        >Apparate</a
                      >
                      <ul>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-app.xml#s03-app-ch-1-7-1"
                            >Dokumente und Quellennachweis</a
                          >
                        </li>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-app.xml#s03-app-ch-1-7-2"
                            >Verzeichnis der von Wölfflin verwendeten
                            Literatur</a
                          >
                        </li>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-app.xml#s03-app-ch-1-7-3"
                            >Verzeichnis der von Heinrich Wölfflin erwähnten
                            Kunstwerke</a
                          >
                        </li>
                        <li>
                          <a
                            data-template="pages:parse-params"
                            href="${app}/s03/s03-app.xml#s03-app-ch-1-7-4"
                            >Personenverzeichnis</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-app-ch-1-8"
                        >Nachweis der emendierten Stellen im Originaltext</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-app-ch-1-9"
                        >Verwendete Abkürzungen</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-app-ch-1-10"
                        >Verwendete Siglen</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-app-ch-1-11"
                        >Dank</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-app-ch-1-12"
                        >Anmerkungen</a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  <a
                    data-template="pages:parse-params"
                    href="${app}/s03/s03-app.xml#s03-app-ch-2"
                    >Abbildungsnachweis</a
                  >
                </li>
                <li>
                  <a
                    data-template="pages:parse-params"
                    href="${app}/s03/s03-app.xml#s03-app-ch-3"
                    >Kommentar</a
                  >
                </li>
                <li>
                  <a
                    data-template="pages:parse-params"
                    href="${app}/s03/s03-app.xml#s03-app-ch-4"
                    >Dokumente</a
                  >
                  <ul>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-1"
                        >Dok. 1 Heinrich Wölfflin an Michael Bernays, 3. Mai
                        1885</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-2"
                        >Dok. 2 Michael Bernays an Heinrich Wölfflin, 11. Juni
                        1885</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-3"
                        >Dok. 3 Heinrich Wölfflin an Michael Bernays, 26.
                        November 1885</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-4"
                        >Dok. 4 Heinrich Wölfflin an Michael Bernays, Ende
                        November 1886</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-5"
                        >Dok. 5 Michael Bernays an Heinrich Wölfflin, 22.
                        Dezember 1886</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-6"
                        >Dok. 6 Heinrich Wölfflin an seine Eltern, 22. Februar
                        1887</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-7"
                        >Dok. 7 Heinrich Wölfflin an seine Eltern, 26. April
                        1887</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-8"
                        >Dok. 8 Heinrich Wölfflin, Nh. 15, Winter 1887</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-9"
                        >Dok. 9 Heinrich Wölfflin, Nh. 20, 9. Dezember 1888</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-10"
                        >Dok. 10 Heinrich Wölfflin an seine Eltern, 28. Dezember
                        1888</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-11"
                        >Dok. 11 Heinrich Wölfflin an Michael Bernays, 14.
                        Januar 1889</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-12"
                        >Dok. 12 Michael Bernays an Heinrich Wölfflin, 21.
                        Januar 1889</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-13"
                        >Dok. 13 Heinrich Wölfflin an Franz Studniczka, 29.
                        April 1889</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-14"
                        >Dok. 14 Heinrich Wölfflin an seine Eltern, 30. Mai
                        1889</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-15"
                        >Dok. 15 Heinrich Wölfflin an seine Eltern, 26. Juni
                        1889</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-16"
                        >Dok. 16 Heinrich Wölfflin an seine Eltern, 5. Juli
                        1889</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-17"
                        >Dok. 17 Heinrich Wölfflin an seine Eltern, 12. Juli
                        1889</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-18"
                        >Dok. 18 Heinrich Wölfflin an Emil Sulger, 5. August
                        1889</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-19"
                        >Dok. 19 Heinrich Wölfflin an Michael Bernays, 10.
                        August 1889</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-20"
                        >Dok. 20 Adolf Frey an Heinrich Wölfflin, 14. September
                        1889</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-21"
                        >Dok. 21 Hans Bodmer, Rezension, 27. Oktober 1889</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-22"
                        >Dok. 22 Heinrich Wölfflin an Emil Sulger, 27. Oktober
                        1889</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-23"
                        >Dok. 23 Erich Schmidt an Heinrich Wölfflin, 27. Oktober
                        1889</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-24"
                        >Dok. 24 Herman Grimm, Rezension, November 1889</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-25"
                        >Dok. 25 Adolf Frey, Rezension, 14. November 1889</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-26"
                        >Dok. 26 Heinrich Wölfflin an Emil Sulger, 14. November
                        1889</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-27"
                        >Dok. 27 Heinrich Wölfflin , Nh. 23, 1. Dezember 1889</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-28"
                      >
                        Dok. 28 Carl Spitteler, Rezension, 8. Dezember 1889</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-29"
                      >
                        Dok. 29 Theodor Odinga, Rezension, 14. Dezember 1889</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-30"
                        >Dok. 30 Anton Bettelheim, Rezension, 25. Januar 1890</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-31"
                        >Dok. 31 Heinrich Wölfflin an Emil Sulger, 30. Januar
                        1890</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-32"
                        >Dok. 32 Carl Spitteler, Rezension, 3. April 1890</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-33"
                        >Dok. 33 Hubert Janitschek, Rezension, 1890</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-34"
                        >Dok. 34 Ludwig Geiger, Rezension, 3. November 1890</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-35"
                        >Dok. 35 Wilhelm Creizenach, Rezension, 31. Januar
                        1891</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-36"
                        >Dok. 36 Georg Dehio, Rezension, 28. März 1891</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-37"
                        >Dok. 37 Arthur Chuquet, Rezension, 2. Halbjahr 1891</a
                      >
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-doc-38"
                        >Dok. 38 Heinrich Wölfflin über die Entstehung von
                        <span class="tei-emph">Salomon Gessner</span>
                      </a>
                    </li>
                    <li>
                      <a
                        data-template="pages:parse-params"
                        href="${app}/s03/s03-app.xml#s03-app-ch-4-39"
                        >Anmerkungen</a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  <a
                    data-template="pages:parse-params"
                    href="${app}/s03/s03-app.xml#s03-app-ch-5"
                    >Verzeichnis der von Wölfflin zitierten Literatur</a
                  >
                </li>
                <li>
                  <a
                    data-template="pages:parse-params"
                    href="${app}/s03/s03-app.xml#s03-app-ch-6"
                    >Verzeichnis der von Heinrich Wölfflin erwähnten
                    Kunstwerke</a
                  >
                </li>
                <li>
                  <a
                    data-template="pages:parse-params"
                    href="${app}/s03/s03-app.xml#s03-app-ch-7"
                    >Literaturverzeichnis</a
                  >
                </li>
                <li>
                  <a
                    data-template="pages:parse-params"
                    href="${app}/s03/s03-app.xml#s03-app-ch-8"
                    >Personenverzeichnis</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </main>
      <footer
        data-template="lib:include"
        data-template-path="templates/volume-footer.html"
      />
    </pb-page>
  </body>
</html>
