<ul>
  <li>
    <pb-collapse>
      <span slot="collapse-trigger">
        <a href="../s03/s03-in.xml#s03-in-ch-1-1" class="collapse-toc-indent"
          >Die Entstehungsumstände der Geßner-Studie</a
        >
      </span>
      <span slot="collapse-content">
        <ul>
          <li>
            <a href="../s03/s03-in.xml#s03-in-ch-1-1-0" class="other-toc-indent"
              >Zur Ausgangslage</a
            >
          </li>
          <li>
            <a href="../s03/s03-in.xml#s03-in-ch-1-1-1" class="other-toc-indent"
              >Wölfflins akademische Milieus: die Ausbildung komplementärer
              Kategorien</a
            >
          </li>
          <li>
            <a href="../s03/s03-in.xml#s03-in-ch-1-1-2" class="other-toc-indent"
              >Die Prolegomena als Modell einer Formengeschichte</a
            >
          </li>
          <li>
            <a href="../s03/s03-in.xml#s03-in-ch-1-1-3" class="other-toc-indent"
              >Gessners Stellung in der Geschichte der Nationalliteratur des 19.
              Jahrhunderts</a
            >
          </li>
          <li>
            <a href="../s03/s03-in.xml#s03-in-ch-1-1-4" class="other-toc-indent"
              >Die Konkurrenz zu Adolf Freys Geßner-Projekt: Hirzels Haller
              (1882) und Wölfflins Geßner</a
            >
          </li>
        </ul>
      </span>
    </pb-collapse>
  </li>
  <li>
    <pb-collapse>
      <span slot="collapse-trigger">
        <a href="../s03/s03-in.xml#s03-in-ch-1-2" class="collapse-toc-indent"
          >Gessners Idyllik aus der Perspektive von Wölfflins Stilgeschichte</a
        >
      </span>
      <span slot="collapse-content">
        <ul>
          <li>
            <a href="../s03/s03-in.xml#s03-in-ch-1-2-0" class="other-toc-indent"
              >Vorbemerkung</a
            >
          </li>
          <li>
            <a href="../s03/s03-in.xml#s03-in-ch-1-2-1" class="other-toc-indent"
              >Der biografische Abriss</a
            >
          </li>
          <li>
            <a href="../s03/s03-in.xml#s03-in-ch-1-2-2" class="other-toc-indent"
              >Die «Grundstimmung» des Zeitalters</a
            >
          </li>
          <li>
            <a href="../s03/s03-in.xml#s03-in-ch-1-2-3" class="other-toc-indent"
              >«Künstliche Natürlichkeit» und «edle Einfalt»: Stilisierung der
              Natur und Nachahmung der Antike</a
            >
          </li>
          <li>
            <a href="../s03/s03-in.xml#s03-in-ch-1-2-4" class="other-toc-indent"
              >Von der Naturbeschreibung zur Naturbeseelung: die Übersetzung von
              Empfindung in Sprache</a
            >
          </li>
          <li>
            <a href="../s03/s03-in.xml#s03-in-ch-1-2-5" class="other-toc-indent"
              >Das Verhältnis von Detail und Komposition: Gessners Kunst
              zwischen zwei Epochen des «grossen» Stils</a
            >
          </li>
        </ul>
      </span>
    </pb-collapse>
  </li>
  <li>
    <pb-collapse>
      <span slot="collapse-trigger">
        <a href="../s03/s03-in.xml#s03-in-ch-1-3" class="collapse-toc-indent"
          >Das Nachleben der Geßner-Schrift</a
        >
      </span>
      <span slot="collapse-content">
        <ul>
          <li>
            <a href="../s03/s03-in.xml#s03-in-ch-1-3-0" class="other-toc-indent"
              >Wölfflin und das Gessner-Jubiläum von 1930</a
            >
          </li>
          <li>
            <a href="../s03/s03-in.xml#s03-in-ch-1-3-1" class="other-toc-indent"
              >Die Rezeption der Geßner-Studie in der Literaturwissenschaft</a
            >
          </li>
          <li>
            <a href="../s03/s03-in.xml#s03-in-ch-1-3-2" class="other-toc-indent"
              >Gessner-Forschung nach Wölfflin</a
            >
          </li>
        </ul>
      </span>
    </pb-collapse>
  </li>
</ul>
