<ul>
  <li>
    <pb-collapse>
      <span slot="collapse-trigger">
        <a href="../s03/s03-app.xml#s03-app-ch-1" class="collapse-toc-indent"
          >Editorische Notiz</a
        >
      </span>
      <span slot="collapse-content">
        <ul>
          <li>
            <a href="../s03/s03-app.xml#s03-app-ch-1-1" class="other-toc-indent"
              >Beschreibung des Textträgers</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-app-ch-1-2" class="other-toc-indent"
              >Originaltext</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-app-ch-1-3" class="other-toc-indent"
              >Annotiertes Autorenexemplar</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-app-ch-1-4" class="other-toc-indent"
              >Transkriptionsregeln</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-app-ch-1-5" class="other-toc-indent"
              >Abbildungen</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-app-ch-1-6" class="other-toc-indent"
              >Kommentar</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-app-ch-1-7" class="other-toc-indent"
              >Apparate</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-app-ch-1-8" class="other-toc-indent"
              >Nachweis der emendierten Stellen im Originaltext</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-app-ch-1-9" class="other-toc-indent"
              >Verwendete Abkürzungen</a
            >
          </li>
          <li>
            <a
              href="../s03/s03-app.xml#s03-app-ch-1-10"
              class="other-toc-indent"
              >Verwendete Siglen</a
            >
          </li>
          <li>
            <a
              href="../s03/s03-app.xml#s03-app-ch-1-11"
              class="other-toc-indent"
              >Dank</a
            >
          </li>
          <li>
            <a
              href="../s03/s03-app.xml#s03-app-ch-1-12"
              class="other-toc-indent"
              >Anmerkungen</a
            >
          </li>
        </ul>
      </span>
    </pb-collapse>
  </li>
  <li>
    <a href="../s03/s03-app.xml#s03-app-ch-2" class="other-toc-indent"
      >Abbildungsnachweis</a
    >
  </li>
  <li>
    <a href="../s03/s03-app.xml#s03-app-ch-3" class="other-toc-indent"
      >Kommentar</a
    >
  </li>
  <li>
    <pb-collapse>
      <span slot="collapse-trigger">
        <a href="../s03/s03-app.xml#s03-app-ch-4" class="collapse-toc-indent"
          >Dokumente</a
        >
      </span>
      <span slot="collapse-content">
        <ul>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-1" class="other-toc-indent"
              >Dok. 1 Heinrich Wölfflin an Michael Bernays, 3. Mai 1885</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-2" class="other-toc-indent"
              >Dok. 2 Michael Bernays an Heinrich Wölfflin, 11. Juni 1885</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-3" class="other-toc-indent"
              >Dok. 3 Heinrich Wölfflin an Michael Bernays, 26. November 1885</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-4" class="other-toc-indent"
              >Dok. 4 Heinrich Wölfflin an Michael Bernays, Ende November
              1886</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-5" class="other-toc-indent"
              >Dok. 5 Michael Bernays an Heinrich Wölfflin, 22. Dezember 1886</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-6" class="other-toc-indent"
              >Dok. 6 Heinrich Wölfflin an seine Eltern, 22. Februar 1887</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-7" class="other-toc-indent"
              >Dok. 7 Heinrich Wölfflin an seine Eltern, 26. April 1887</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-8" class="other-toc-indent"
              >Dok. 8 Heinrich Wölfflin, Nh. 15, Winter 1887</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-9" class="other-toc-indent"
              >Dok. 9 Heinrich Wölfflin, Nh. 20, 9. Dezember 1888</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-10" class="other-toc-indent"
              >Dok. 10 Heinrich Wölfflin an seine Eltern, 28. Dezember 1888</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-11" class="other-toc-indent"
              >Dok. 11 Heinrich Wölfflin an Michael Bernays, 14. Januar 1889</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-12" class="other-toc-indent"
              >Dok. 12 Michael Bernays an Heinrich Wölfflin, 21. Januar 1889</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-13" class="other-toc-indent"
              >Dok. 13 Heinrich Wölfflin an Franz Studniczka, 29. April 1889</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-14" class="other-toc-indent"
              >Dok. 14 Heinrich Wölfflin an seine Eltern, 30. Mai 1889</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-15" class="other-toc-indent"
              >Dok. 15 Heinrich Wölfflin an seine Eltern, 26. Juni 1889</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-16" class="other-toc-indent"
              >Dok. 16 Heinrich Wölfflin an seine Eltern, 5. Juli 1889</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-17" class="other-toc-indent"
              >Dok. 17 Heinrich Wölfflin an seine Eltern, 12. Juli 1889</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-18" class="other-toc-indent"
              >Dok. 18 Heinrich Wölfflin an Emil Sulger, 5. August 1889</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-19" class="other-toc-indent"
              >Dok. 19 Heinrich Wölfflin an Michael Bernays, 10. August 1889</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-20" class="other-toc-indent"
              >Dok. 20 Adolf Frey an Heinrich Wölfflin, 14. September 1889</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-21" class="other-toc-indent"
              >Dok. 21 Hans Bodmer, Rezension, 27. Oktober 1889</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-22" class="other-toc-indent"
              >Dok. 22 Heinrich Wölfflin an Emil Sulger, 27. Oktober 1889</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-23" class="other-toc-indent"
              >Dok. 23 Erich Schmidt an Heinrich Wölfflin, 27. Oktober 1889</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-24" class="other-toc-indent"
              >Dok. 24 Herman Grimm, Rezension, November 1889</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-25" class="other-toc-indent"
              >Dok. 25 Adolf Frey, Rezension, 14. November 1889</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-26" class="other-toc-indent"
              >Dok. 26 Heinrich Wölfflin an Emil Sulger, 14. November 1889</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-27" class="other-toc-indent"
              >Dok. 27 Heinrich Wölfflin , Nh. 23, 1. Dezember 1889</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-28" class="other-toc-indent"
              >Dok. 28 Carl Spitteler, Rezension, 8. Dezember 1889</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-29" class="other-toc-indent"
              >Dok. 29 Theodor Odinga, Rezension, 14. Dezember 1889</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-30" class="other-toc-indent"
              >Dok. 30 Anton Bettelheim, Rezension, 25. Januar 1890</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-31" class="other-toc-indent"
              >Dok. 31 Heinrich Wölfflin an Emil Sulger, 30. Januar 1890</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-32" class="other-toc-indent"
              >Dok. 32 Carl Spitteler, Rezension, 3. April 1890</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-33" class="other-toc-indent"
              >Dok. 33 Hubert Janitschek, Rezension, 1890</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-34" class="other-toc-indent"
              >Dok. 34 Ludwig Geiger, Rezension, 3. November 1890</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-35" class="other-toc-indent"
              >Dok. 35 Wilhelm Creizenach, Rezension, 31. Januar 1891</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-36" class="other-toc-indent"
              >Dok. 36 Georg Dehio, Rezension, 28. März 1891</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-37" class="other-toc-indent"
              >Dok. 37 Arthur Chuquet, Rezension, 2. Halbjahr 1891</a
            >
          </li>
          <li>
            <a href="../s03/s03-app.xml#s03-doc-38" class="other-toc-indent"
              >Dok. 38 Heinrich Wölfflin über die Entstehung von
              <cite>Salomon Gessner</cite>
            </a>
          </li>
          <li>
            <a
              href="../s03/s03-app.xml#s03-app-ch-4-39"
              class="other-toc-indent"
              >Anmerkungen</a
            >
          </li>
        </ul>
      </span>
    </pb-collapse>
  </li>
  <li>
    <a href="../s03/s03-app.xml#s03-app-ch-5" class="other-toc-indent"
      >Verzeichnis der von Wölfflin zitierten Literatur</a
    >
  </li>
  <li>
    <a href="../s03/s03-app.xml#s03-app-ch-6" class="other-toc-indent"
      >Verzeichnis der von Heinrich Wölfflin erwähnten Kunstwerke</a
    >
  </li>
  <li>
    <a href="../s03/s03-app.xml#s03-app-ch-7" class="other-toc-indent"
      >Literaturverzeichnis</a
    >
  </li>
  <li>
    <a href="../s03/s03-app.xml#s03-app-ch-8" class="other-toc-indent"
      >Personenverzeichnis</a
    >
  </li>
</ul>
