<ul>
  <li>
    <a href="../s03/s03-ed.xml#s03-ed-ch-0-2" class="other-toc-indent"
      >Vorwort.</a
    >
  </li>
  <li>
    <pb-collapse>
      <span slot="collapse-trigger">
        <a href="../s03/s03-ed.xml#s03-ed-ch-1" class="collapse-toc-indent"
          >Erster Teil.</a
        >
      </span>
      <span slot="collapse-content">
        <ul>
          <li>
            <pb-collapse>
              <span slot="collapse-trigger">
                <a
                  href="../s03/s03-ed.xml#s03-ed-ch-1-1"
                  class="collapse-toc-indent"
                  >Lebensgeschichte.</a
                >
              </span>
              <span slot="collapse-content">
                <ul>
                  <li>
                    <a
                      href="../s03/s03-ed.xml#s03-ed-ch-1-1-1"
                      class="other-toc-indent"
                      >I.</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s03/s03-ed.xml#s03-ed-ch-1-1-2"
                      class="other-toc-indent"
                      >II.</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s03/s03-ed.xml#s03-ed-ch-1-1-3"
                      class="other-toc-indent"
                      >III.</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s03/s03-ed.xml#s03-ed-ch-1-1-4"
                      class="other-toc-indent"
                      >IV.</a
                    >
                  </li>
                </ul>
              </span>
            </pb-collapse>
          </li>
        </ul>
      </span>
    </pb-collapse>
  </li>
  <li>
    <pb-collapse>
      <span slot="collapse-trigger">
        <a href="../s03/s03-ed.xml#s03-ed-ch-2" class="collapse-toc-indent"
          >Zweiter Teil.</a
        >
      </span>
      <span slot="collapse-content">
        <ul>
          <li>
            <pb-collapse>
              <span slot="collapse-trigger">
                <a
                  href="../s03/s03-ed.xml#s03-ed-ch-2-1"
                  class="collapse-toc-indent"
                  >1. Allgemeine Voraussetzungen.</a
                >
              </span>
              <span slot="collapse-content">
                <ul>
                  <li>
                    <a
                      href="../s03/s03-ed.xml#s03-ed-ch-2-1-1"
                      class="other-toc-indent"
                      >I.</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s03/s03-ed.xml#s03-ed-ch-2-1-2"
                      class="other-toc-indent"
                      >II.</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s03/s03-ed.xml#s03-ed-ch-2-1-3"
                      class="other-toc-indent"
                      >III.</a
                    >
                  </li>
                </ul>
              </span>
            </pb-collapse>
          </li>
          <li>
            <pb-collapse>
              <span slot="collapse-trigger">
                <a
                  href="../s03/s03-ed.xml#s03-ed-ch-2-2"
                  class="collapse-toc-indent"
                  >2. Natur und Aufklärung.</a
                >
              </span>
              <span slot="collapse-content">
                <ul>
                  <li>
                    <a
                      href="../s03/s03-ed.xml#s03-ed-ch-2-2-0"
                      class="other-toc-indent"
                      >I.</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s03/s03-ed.xml#s03-ed-ch-2-2-1"
                      class="other-toc-indent"
                      >II.</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s03/s03-ed.xml#s03-ed-ch-2-2-2"
                      class="other-toc-indent"
                      >III.</a
                    >
                  </li>
                </ul>
              </span>
            </pb-collapse>
          </li>
          <li>
            <pb-collapse>
              <span slot="collapse-trigger" class="collapse-toc-indent">
                <a href="../s03/s03-ed.xml#s03-ed-ch-2-3">3. Antike.</a>
              </span>
              <span slot="collapse-content">
                <ul>
                  <li>
                    <a
                      href="../s03/s03-ed.xml#s03-ed-ch-2-3-0"
                      class="other-toc-indent"
                      >I.</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s03/s03-ed.xml#s03-ed-ch-2-3-1"
                      class="other-toc-indent"
                      >II.</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s03/s03-ed.xml#s03-ed-ch-2-3-2"
                      class="other-toc-indent"
                      >III.</a
                    >
                  </li>
                </ul>
              </span>
            </pb-collapse>
          </li>
          <li>
            <pb-collapse>
              <span slot="collapse-trigger">
                <a
                  href="../s03/s03-ed.xml#s03-ed-ch-2-4"
                  class="collapse-toc-indent"
                  >4. Empfindsamkeit.</a
                >
              </span>
              <span slot="collapse-content">
                <ul>
                  <li>
                    <a
                      href="../s03/s03-ed.xml#s03-ed-ch-2-4-0"
                      class="other-toc-indent"
                      >I.</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s03/s03-ed.xml#s03-ed-ch-2-4-1"
                      class="other-toc-indent"
                      >II.</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s03/s03-ed.xml#s03-ed-ch-2-4-2"
                      class="other-toc-indent"
                      >III.</a
                    >
                  </li>
                </ul>
              </span>
            </pb-collapse>
          </li>
          <li>
            <pb-collapse>
              <span slot="collapse-trigger">
                <a
                  href="../s03/s03-ed.xml#s03-ed-ch-2-5"
                  class="collapse-toc-indent"
                  >5. Sprache und Form.</a
                >
              </span>
              <span slot="collapse-content">
                <ul>
                  <li>
                    <a
                      href="../s03/s03-ed.xml#s03-ed-ch-2-5-1"
                      class="other-toc-indent"
                      >I.</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s03/s03-ed.xml#s03-ed-ch-2-5-2"
                      class="other-toc-indent"
                      >II.</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s03/s03-ed.xml#s03-ed-ch-2-5-3"
                      class="other-toc-indent"
                      >III.</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s03/s03-ed.xml#s03-ed-ch-2-5-4"
                      class="other-toc-indent"
                      >IV.</a
                    >
                  </li>
                </ul>
              </span>
            </pb-collapse>
          </li>
          <li>
            <pb-collapse>
              <span slot="collapse-trigger">
                <a
                  href="../s03/s03-ed.xml#s03-ed-ch-2-6"
                  class="collapse-toc-indent"
                  >6. Kunst.</a
                >
              </span>
              <span slot="collapse-content">
                <ul>
                  <li>
                    <a
                      href="../s03/s03-ed.xml#s03-ed-ch-2-6-0"
                      class="other-toc-indent"
                      >I.</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s03/s03-ed.xml#s03-ed-ch-2-6-1"
                      class="other-toc-indent"
                      >II.</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s03/s03-ed.xml#s03-ed-ch-2-6-2"
                      class="other-toc-indent"
                      >III.</a
                    >
                  </li>
                </ul>
              </span>
            </pb-collapse>
          </li>
          <li>
            <a href="../s03/s03-ed.xml#s03-ed-ch-2-7" class="other-toc-indent"
              >Schluß.</a
            >
          </li>
        </ul>
      </span>
    </pb-collapse>
  </li>
  <li>
    <pb-collapse>
      <span slot="collapse-trigger">
        <a href="../s03/s03-ed.xml#s03-ed-ch-3" class="collapse-toc-indent"
          >Anhang</a
        >
      </span>
      <span slot="collapse-content">
        <ul>
          <li>
            <pb-collapse>
              <span slot="collapse-trigger">
                <a
                  href="../s03/s03-ed.xml#s03-ed-ch-3-1"
                  class="collapse-toc-indent"
                  >Briefe S. Geßners an J.G. Schultheß .</a
                >
              </span>
              <span slot="collapse-content">
                <ul>
                  <li>
                    <a
                      href="../s03/s03-ed.xml#s03-ed-ch-3-1-0"
                      class="other-toc-indent"
                      >I.</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s03/s03-ed.xml#s03-ed-ch-3-1-1"
                      class="other-toc-indent"
                      >II.</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s03/s03-ed.xml#s03-ed-ch-3-1-2"
                      class="other-toc-indent"
                      >III.</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s03/s03-ed.xml#s03-ed-ch-3-1-3"
                      class="other-toc-indent"
                      >IV.</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s03/s03-ed.xml#s03-ed-ch-3-1-4"
                      class="other-toc-indent"
                      >V.</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s03/s03-ed.xml#s03-ed-ch-3-1-5"
                      class="other-toc-indent"
                      >VI.</a
                    >
                  </li>
                  <li>
                    <a
                      href="../s03/s03-ed.xml#s03-ed-ch-3-1-6"
                      class="other-toc-indent"
                      >VII.</a
                    >
                  </li>
                </ul>
              </span>
            </pb-collapse>
          </li>
        </ul>
      </span>
    </pb-collapse>
  </li>
  <li>
    <a href="../s03/s03-ed.xml#s03-ed-ch-4-1" class="other-toc-indent"
      >Inhaltsübersicht.</a
    >
  </li>
  <li>
    <a href="../s03/s03-ed.xml#s03-ed-ch-4-2" class="other-toc-indent"
      >Verzeichnis der Abbildungen.</a
    >
  </li>
</ul>
